
.thankYouWrapper{

    width: 100%;
    background-color: var(--bg-color);
    position: absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: center;


    overflow: hidden;
    
    z-index: 99;
}

.mainDiv{
    
    
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    box-sizing: border-box;
    padding: 0 var(--size-7);
  

}

.titleDiv{
   
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-4);

    margin-top: var(--size-9);
    margin-bottom: var(--size-7);
}


.title{
    margin: 0;
}




.correctImg{
    height: 40px;
    width: 40px;
}


.rideon{

width: 100%;

height: auto;
min-height: 100%;

position: absolute;
top: 0;
left: 0;

object-fit: cover;

z-index: -1;

}


.mainPharagraph{
    
    color: var(--thank-you-pharagraph-color);
    max-width: var(--size-18);
    text-align: center;
    font-size: var(--font-size-4);
    font-weight: 400;

    margin-bottom: 0;
    font-family: var(--font-neutral);
   
    
}

.continue{
    height: var(--size-8);
    max-width: var(--size-16);
    width: 100%;

    color: var(--high-contrast-txt-color);

    display: flex;
    justify-content: center;
    align-items: center;

   
    margin-top: auto;
    margin-bottom: var(--size-7);

    box-sizing: border-box;
    padding: 0 var(--size-7);

    border: 1px solid var(--border-color-strong);
    border-radius: 4px;
   

   
    
    font-size: var(--font-size-5);
 
}


@media(max-width:680px){
    .mainPharagraph{
        
        align-self: flex-start;
    }

    .mainDiv{
 
        padding: 0 var(--size-7);
    }

    .continue{
   
        padding: 0 var(--size-6);
    }

}

@media(max-width:480px){

    .mainDiv{
        padding: 0 var(--size-5);
    }

    .continue{
   
        padding: 0 var(--size-5);
    }


    .titleDiv{
        gap: var(--size-3);
    }

    .title{
       font-size: var(--font-size-6);
    }
    
    
    
    
    .correctImg{
        height: 32px;
        width: 32px;
    }

    .mainPharagraph{
    
       
        font-size: var(--font-size-3);
    }



}

