


.productInfoMenuDiv{

 
    
    width: 100%;

    display: flex;
    gap:var(--size-5);
    
    padding-bottom: var(--size-5);
    
    margin-top: var(--size-8);
    margin-bottom: var(--size-5);
  
}

.menuSpanSelected{
    border-bottom: 2px solid var(--dropcard-selected-title-border);
}


.productInfoMenuSpan{


    color: var(--high-contrast-light-txt-color);
    padding-top: var(--size-3);
    padding-bottom: var(--size-5);
   

    font-size: var(--font-size-5);
    font-weight: 700;

    text-align: center;
    cursor: pointer;
    
}


.cardDiv{

  
    opacity: 0.3;
    transform: translateY(-16px);
    transition: transform 0.3s ease, opacity 0.3s ease;

}

.cardDivFirstStyle{
    transform: translateY(0);
    opacity: 1;
}










@media(max-width: 480px){

    .productInfoMenuSpan{


        font-size: var(--font-size-4);
    
        
    }

}


@media(max-width: 380px){

    .productInfoMenuSpan{


        font-size: var(--font-size-3);

    }


        .productInfoMenuDiv{

            gap:var(--size-5);
         
          
        }
    
      
    

}

@media(max-width: 350px){



    .productInfoMenuDiv{

        gap:var(--size-4);
     
      
    }
}








