



.pickProductsTitle{
    margin:0;
    margin-top: var(--size-7);
}

.returnedProductsInputWrapper{
    width: 100%;
    display: flex;
}


.tipReturnWrapper{
    align-self: flex-end;
}

.tipReturnButton{

    color: var(--admin-txt-color);

    height: var(--size-6);
    width: var(--size-8);
    background-color: transparent;


    
    margin-left: var(--size-4);
    border: none;
    outline: 1px solid rgb(24, 24, 22);

    cursor: pointer;

   

}

.tipReturnButtonSelected{
    outline: 1px solid rgb(84, 114, 151);
}


.discountWarning{

    color: yellow;
    margin-top: var(--size-7);
    margin-bottom: calc(-1 * var(--size-5));
    align-self: flex-start;
    box-sizing: border-box;

}


.inputLabel{
    color: var(--neutral-6);
    margin-top: var(--size-7);
    margin-bottom: var(--size-2);
    align-self: flex-start;
    box-sizing: border-box;

}



.inputProductId{
    color: rgb(225, 236, 238);
    background-color: var(--email-input-bg);
    min-width: var(--size-14);
    width: 100%;
    align-self: flex-start;
    box-sizing: border-box;
    padding: var(--size-3);
    font-size: var(--font-size-5);
    line-height: var(--size-7);
    
   margin-bottom: var(--size-6);
   /* border: 1px solid var(--border-color-strong); */
   border: none;
 
   border-radius: 8px;
   outline: none;
}

.inputProductId::placeholder{
    font-size: var(--font-size-1);
}

.productQuantity{
    min-width: 0;
    width: var(--size-14);
    margin-left: var(--size-6);
}