



.pickProductsTitle{
    margin:0;
    margin-top: var(--size-7);
}

.returnedProductsInputWrapper{
    width: 100%;
    display: flex;
    gap: var(--size-6);
    margin-top: var(--size-5);
}


.tipReturnWrapper{
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: var(--size-4);

}

.tipReturnButton{

  
    height: auto;
    min-width: var(--size-8);

    padding: var(--size-2) var(--size-3);
    
    border: 1px solid var(--admin-neutral-9) ;

    
    
    
    

}

.tipReturnButtonSelected{
    border: 1px solid #4fabe0;
    box-shadow: 0 0 2px #4fabe0;
}


.discountWarning{

    color: yellow;
    margin-top: var(--size-7);
    margin-bottom: calc(-1 * var(--size-5));
    align-self: flex-start;
    box-sizing: border-box;

}


.inputLabel{
    color: var(--neutral-6);
    margin-top: var(--size-7);
    margin-bottom: var(--size-2);
    align-self: flex-start;
    box-sizing: border-box;

}



.productReturnsInput{
   
    

  
    
   
    
   margin-bottom: var(--size-6);
   /* border: 1px solid var(--border-color-strong); */
  
   
 
   
}

.productReturnsInput::placeholder{
    font-size: var(--font-size-1);
}

.selectItem{
    flex: 1 0 1;
    width: 100%;
}