

.mainDiv{
    width:100%;
    display: flex;
    flex-direction: column;
   align-items: center;
}

.warning{
    text-align: center;
    margin-bottom: var(--size-7);
    color: rgb(230, 239, 51)
}


.loginBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--size-4);
    margin-bottom: var(--size-8);
}

.adminInput{
    color: var(--admin-login-color);
    background-color: var(--admin-login-btn-bg);
    
    width: 100%;
  
    box-sizing: border-box;
    padding: var(--size-3);
    font-size: var(--font-size-3);
    line-height: var(--size-7);

   border: 1px solid var(--border-color-strong);
   border-radius: 8px;
   outline: none;
}

.verify{
    height: var(--size-7);
    color: var(--admin-login-color);
    background-color: var(--admin-login-btn-bg);

    margin-top: var(--size-4);
    padding: var(--size-3);
    border-radius: 8px;
   outline: none;
   box-sizing: border-box;
   border: 1px solid var(--border-color-strong);

   cursor: pointer;
   user-select: none;

}

.wipeButton{
   
    
    margin-bottom: var(--size-3);
    
    
}

.marginTop{
    margin-top: var(--size-8);
}

.enterIdSpan{
    margin-top: var(--size-6);
    font-size: var(--font-size-2);
   opacity: 0.9;
}

.reviewIdInput{

    width: var(--size-12);
  
    
   
   margin-top: var(--size-3);
   
 
}

.reviewIdInput::placeholder{
    font-size: var(--font-size-1);
}

.wipeReviews{
    margin-top: var(--size-5);
}

.wipeCustomers{
    margin-top: var(--size-8);
    margin-bottom: var(--size-7);
}




.adminVerified{
    color: green;
    margin-bottom: var(--size-9);
}


.dataWipedSuccessfully{
    color: green;
}