

.zoomImg{
 
    position: absolute;
    left: var(--size-2);
    top: var(--size-2);
    height: var(--size-5);
    width: var(--size-5);
    padding: var(--size-2);
    opacity: 1;
    border-radius: 100%;
    background-color: var(--gray-9-elegant-op08);
    display:none;
    
  }



  .productPicsWrapper{
   
    position:relative;
   
   
    width: var(--size-17);
    height: auto;
  }

  .productImagesWrapper{
    position: -webkit-sticky;
    position: sticky;
    top: var(--size-2);
    bottom: 100%;
  }
  



  .slide{
    position: relative;
    aspect-ratio: 1;
    width: var(--size-17);
    
   
  }
  


  .productImage{
    width:100%;
  height: 100%;
  object-fit: cover;
  
  box-sizing: border-box;
  border-radius: 4px;

  user-select: none;
  cursor: pointer;
 
  }


  

 


  .selectedImage{
  
   
    
    border: 1px solid var(--selected-product-image-border);
    
    
  }














  .slider2Suiter{
    position: relative;
    width: 100%;
    contain: paint;
  }



  .leftArrowDiv{
    display: none;
 
  }


  
 

  

  

    
 

  .grid_container {
    width: 100%;
    margin-top: var(--size-5);
  
    grid-template-columns: repeat(4, 1fr); /* Two columns */
    grid-gap: var(--size-4); /* Gap between grid items */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
   
    
  }


  .productImage2Div{
    width: calc(25% - 9px);
   
    
  
 
  }

  




  .fixedAddToCartDiv{
  display: none;
   
  }

 

  @media(max-width: 1280px){

   
    .productPicsFixed{
      width: var(--size-15-5);
    }
 
  


  }

  
@media(min-width: 980px){


 

  .slider2Suiter{
    display: none;
  }
}


  @media(max-width: 980px){

    .productPicsWrapper{
      margin-top: var(--size-6);
      margin-right: 0;
      width: 100%;
    }

    .productImagesWrapper{
      width: 100%;
      position: static;
    }
  

    .productPicsFixed{
      width:100%;
      position: static;
      
    }

  

  

 
   
   
    
  .slide{
 


    width: calc(100% - 32px) !important;
   
   
    margin: 0 var(--size-2) !important;
    transform: translateX(12px) !important;
  }




  .lastSlide{
    padding-right: var(--size-5) !important;
  }



  .slider2{
    width: calc(100% - var(--size-10)) !important;
    margin-bottom: var(--size-6);
    margin-top: var(--size-6);


  }

  


  .slide2{
    
    position: relative;
    width: calc(100%  / 3 - var(--size-5)) !important;
    aspect-ratio: 1;
    overflow: hidden;
   
    margin: 0 var(--size-3) !important;
  }

  .leftArrowDiv{


    position: absolute;
    top: 50%;
    left: var(--size-5);
    height: var(--size-4);
    width:var(--size-4);


    display: flex;
    justify-content: center;
    align-items: center;

   
 
    border-radius: 100%;
    padding: var(--size-3);
    
    transform: translateY(-50%) rotate(90deg);
    cursor: pointer;
  }

  @media (hover: hover) {
  .leftArrowDiv:hover{
    background-color: var(--mini-slider-arrow-bg);
    
  }

   }

  .leftArrowDiv:active{
    background-color: var(--mini-slider-arrow-bg);
  }

  .rightArrowDiv{
    left: auto;
    right: var(--size-5);
    transform: translateY(-50%) rotate(-90deg) ;
  }

  .disabledArrow{
    display: none;
  }






 


     

      .zoomImg{
        /* Styles applied to .target when .trigger is hovered */
        display: inline-block !important;
      }
  
      .productImage{
        
        width:100%;
      height: 100%;
      object-fit: cover;
      
    
      }
  
      .grid_container{
        display:none;
      }
  
    

     
  
      
  
  
  
    .productImage2{
      
      width: 100%;
      height: 100%;
      object-fit: cover;
  
    }
  

  }

  @media (max-width: 580px){
    .fixedAddToCartDiv{
      position: fixed;
      bottom: 0;
      
      color: var(--fixed-add-to-cart-color);
      background-color: var(--fixed-add-to-cart-bg);
      height: var(--size-8);
      width: 100%;
     
     
      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity 0.3s ease, transform 0.3s ease;
      box-sizing: border-box;
      /* border-top: 1px solid var(--fixed-add-to-cart-border-top); */
      box-shadow: var(--fixed-add-to-cart-top-box-shadow);
      font-size: var(--font-size-3);
      font-weight: 700;


      animation: spawnAddToCart 0.3s ease;
      cursor: pointer;
    z-index: 11;
     
    }



  
  
  
  }

  @media (max-width: 380px) {
    .slider2{
    
      margin-top: var(--size-5);
  
  
    }
  
    
  }


  @keyframes spawnAddToCart {
    0%{
      opacity: 0;
      transform: translateY(100%);
    
    }
    100%{
      opacity: 1;
      transform: translatey(0);
    }
  }
