.dropDiv{
  width: 100%;
  max-width: var(--size-15);
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--border-color-mid);
  
}

.cardIcon{
  height: var(--size-5);
  width: var(-size--5);
  margin-right: var(--size-3);
}

.title_div {
  color: var(--dropcard-title-color); 
  background-color: transparent;
  width: 100%;
    
   
    
    box-sizing: border-box;
    padding: var(--size-5) var(--size-2);
    border: none;
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-4);
    
    font-weight: 500;
    cursor: pointer;
  }

 
  
 

  
  .plusStyle {
    height: var(--size-4);
    width: var(--size-4);
    padding:0;
    margin: 0;
   
    transform-origin: center;
 
    align-self: end;
    font-weight: 400;
  }
  
  .plusStyleRotate {
    transform: rotateY(0deg) rotate(-180deg);
    transform-origin: center;
  }
  
  
  .emerge {
    color: var(--description-content-color);
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform-origin: top;
    transition: max-height 0.3s ease, opacity 0.3s ease;
   
    /* opacity: 0.9; */
  }

  
  
 

  .borderRad{
    border-radius: 8px;
  }
  

/*  */
  /* opacity: 0.9; */