.ratingInfoWrapper{
  position: absolute;
  top: 40px;
  left: 0;

  width: 100%;
  max-width: var(--size-14);


  color: var(--rating-info-color);
  background-color: var(--rating-info-bg);


  box-shadow: var(--rating-info-box-shadow);
  border-radius: 4px;
 
  opacity: 0;
 
  transform-origin: top center;
  transform: translateY(-24px) scale(0.6);
  transition: opacity 0.3s ease, transform 0.3s ease;


 

  


  z-index: 9;
  contain: layout;
  pointer-events: none;
}





.ratingInfoMain{

  width: 100%;

 
  display: flex;
  flex-direction: column;
  align-items: center;

 
  box-sizing: border-box;
  padding: 0 var(--size-5);
  padding-bottom: var(--size-6);


}










  


  .ratingTitle{
    display: flex;
    align-items: center;
    margin-top:  var(--size-5);
    font-weight: 500;
    padding-top: 0;
  }

  .ratingSpan{
    text-align: center;
    font-size: var(--font-size-7);
    margin-left: var(--size-3);
  }

  .ratingMetric{
    height: var(--size-5);
    width: 100%;
    padding-bottom: 1px;
    margin-top: var(--size-5);
   
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .starClassName{
    height: 16px;
    width: 16px;
  }

  .percentRatingWrapper{
    height: var(--size-4);
    flex-grow: 1;
    background-color: var(--rating-info-percent-bar-empty);

    overflow: hidden;
    border-radius: 12px;
    margin-top: 1px;
    margin-left: var(--size-2);
    margin-right: var(--size-3);
  }
  .percentageRatingDiv{
    height: 100%;
    width: 0;
    background-color: var(--rating-info-percent-bar-fill);
    transition: width 0.5s ease;
  }

  .rateNumber{
    font-weight: 500;
    width: var(--size-7);
  }


  @media (min-width: 480px){



    .ratingInfoOpen{
      opacity: 1;
      transform: translateY(0) scale(1);
    }

  }






  @media (max-width: 480px)  {



    .ratingInfoWrapper{

      position: static;

      max-width: var(--size-14);
      max-height: 0;
      width: 100%   ;
    
      
      margin-bottom: var(--size-3);
      transition: opacity 0.3s ease, transform 0.3s ease, max-height 0.3s ease;
      transform: translateY(-16px);
      opacity: 0;
      
     
      overflow: hidden;
     
    }
    

    



  

   
  
    .ratingInfoOpenManualClass{
      
      opacity: 1;
      transform: translateY(0);
      
    }



  



  }

 