


.mainSpan{
    color: var(--main-color-4);
    font-size: var(--font-size-7);
    font-weight: 600;
    margin-bottom: var(--size-7);

    text-align: center;
}


.gridTable {


    max-width: var(--size-15);

    display: flex;
   flex-direction: column;
 
   
   
   margin-bottom: var(--size-7);
    box-sizing: border-box;
    border-radius: 8px;
        border: 1px solid var(--neutral-4);
      
    font-size: var(--font-size-2);
  }

  .rowDiv{
    display: flex;
    justify-content: space-between;

    padding: var(--size-5) var(--size-4);

    border-bottom: 1px solid var(--neutral-1);
  }

  .lastRowDiv{
    border-bottom: none;
  }

  

  .firstRowSpan{

    flex: 1;

    display: flex;
 
    justify-content: center;
    align-items: center;
    text-align: center;

    padding:0 var(--size-3);

   

  }

  .header{
    font-weight: 600;
  }
  
  
  .gridTableSpan {
  
    flex: 1;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .gridTableHeader {

    flex: 1;
    

    display: flex;
  align-items: center;
  justify-content: center;
    
  
  font-weight: 600;
    
  }


  .shippingDiv{
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
    
    padding: 0 var(--size-3);

    text-align: center;
    font-size: var(--font-size-2);
    box-sizing: border-box;
}



@media (max-width: 1080px){
    .shippingDiv{
       
        margin-bottom: var(--size-7);
    }

  

   
}