.gridTable {


    max-width: var(--size-15);

    display: flex;
   flex-direction: column;
   gap: var(--size-8);
   
   
    box-sizing: border-box;
    border-radius: 8px;
        border: 1px solid var(--neutral-4);
        padding: var(--size-4);
    font-size: var(--font-size-2);
  }

  .rowDiv{
    display: flex;
    justify-content: space-between;
  }

  .firstRowSpan{

    flex: 1;

    display: flex;
 
    justify-content: flex-start;
    align-items: center;

    font-weight: 600;

  }

  .midRowSpan{

    justify-content: center;
  

    font-weight: 400;
  }

  .lastRowSpan{
    justify-content: flex-end;
  

    font-weight: 400;
  }
  
  .gridTableSpan {
  
    flex: 1;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .gridTableHeader {

    flex: 1;
    

    display: flex;
  align-items: center;
  justify-content: center;
    
  
  font-weight: 600;
    
  }


  .shippingDiv{
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
    margin-bottom: var(--size-5);

    
    box-sizing: border-box;
}



@media (max-width: 1080px){
    .shippingDiv{
       
        margin-bottom: var(--size-7);
    }

  

   
}