

.saleInfoDiv{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.saleInfoTitle{
    font-size: var(--font-size-7);
    font-weight: 400;
    margin-top: var(--size-3);
}

.saleInfoSubTitle{
    font-size: var(--font-size-6);
    font-weight: 400;
    margin-top: var(--size-3);
    align-self: flex-start;
}

.saleStats{
    width: 100%;
    margin-top: var(--size-3);
    margin-bottom: var(--size-7);
    padding: var(--size-2) var(--size-4);
    box-sizing: border-box;
    border: 1px solid var(--border-color-strong);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.saleStat{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.saleStat h2, .statName{
    flex:1;
    display: flex;
    justify-content: center;
    margin: var(--size-3) 0;
}

.pickPeriod{

}

.finalResult{

}

.datePickerWrapper{
    flex:1;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    margin: var(--size-3) 0;
}

.datePicker{
    background-color: black !important;
 
}

.dateRangeLabel{
    margin-left: var(--size-1);
    font-size: var(--font-size-3);
    font-weight: 400;
}

.dateInput{
    color: var(--admin-txt-color);
    background-color: black ;
    padding: var(--size-2);
    margin: var(--size-3) 0;
    border: 1px solid var(--border-color-strong);
}




.onlyFulfilledOrdersDiv{
   
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: var(--size-5) 0 ;
    font-size: var(--font-size-3);

    align-self: flex-start;
    cursor: pointer;
    user-select: none;
  }




  .onlyFulfilledOrdersChecker{

    height:  var(--size-5);
    width:  var(--size-5);
   
  
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--input-outline-color);
    flex-shrink: 0;

    box-shadow: var(--checkbox-unchecked-box-shadow);

    transition: box-shadow 0.2s ease;

    margin-right: var(--size-3);
    cursor: pointer;
  }



  .onlyFulfilledOrdersDiv:focus  .onlyFulfilledOrdersChecker{
    border: 1px solid var(--checkbox-checked-bg-color);
  }
  

  .onlyFulfilledOrdersChecked{
    box-shadow: var( --checkbox-checked-box-shadow);
  }

  

  .checkImage{
    opacity: 0;
    transition: opacity 0.2s ease;
   
  }

  .onlyFulfilledOrdersChecked .checkImage{
    opacity: 1;
  }

  .onlyFulfilledOrdersText{
    font-size: var(--font-size-2);
   
  }




.adminHomeControlsWrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: var(--size-3);
}


.revealInstructionsButton{
    color: var(--admin-txt-color);
    background-color: transparent;

    
    margin-bottom: var(--size-3);
    padding: var(--size-4) var(--size-6);
   
    border-radius: 2px;
    border: 1px solid var(--border-color-strong);

    font-weight: 400;

    align-self: flex-start;
    cursor: pointer;
    user-select: none;
}



.readStatsInstructionsSpan{
    line-height: var(--size-7);
    align-self: flex-start;
}

