
.mainDiv{
    max-width: var(--size-17);
    width: 100%;
    

    display:flex;
    flex-direction: column;
    align-items: center;
   
}


.campaignDiv{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: var(--size-6);

    box-sizing: border-box;
    
    padding: var(--size-5);
    margin-top: var(--size-7);
    margin-bottom: var(--size-7);

    border: 1px solid var(--admin-border-color-weak);
    border-radius: 4px;
}


.id{
    width: min-content;

    font-size: var(--font-size-7);

    box-sizing: border-box;
    padding: var(--size-3);
    border: 1px solid var(--admin-border-color-weak);

}


.infoArea{
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
}

.infoField{
    width: 100%;
    display: flex;
    justify-content: space-between;
}




.infoLabel{
    font-size: var(--font-size-4);
    opacity: 0.18;
    color: var(--admin-txt-color);
}

.infoSpan{
    font-size: var(--font-size-4);
    
    color: var(--admin-txt-color);
}






.campaignInput{
    
   
    
  
  
   
}




.campaignEmailsDiv{

    background-color: var(--admin-campaign-display-emails-bg);
    min-height: var(--size-12);
    max-width: var(--size-17);
    width: 100%;

    box-sizing: border-box;
    padding: 0 var(--size-3);

    display:flex;
    flex-direction: column;
  
   

}


.campaignEmailDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: var(--size-3);
}


.showEmailButton{
  
    
    border: 1px solid var(--admin-neutral-9);
    
}

.showEmailButton:active{
    background-color: var(--admin-neutral-9);
}




