
.mainDiv{
    max-width: var(--size-17);
    width: 100%;
    

    display:flex;
    flex-direction: column;
    align-items: center;
   
}


.campaignDiv{
    color: rgb(134, 149, 180);
    width: 100%;
    padding-top: var(--size-6);
    padding-bottom: var(--size-9);
    border-bottom: 1px solid green;
}



.idDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.currentId{
   
    font-size: var(--font-size-8);
    color: rgb(134, 149, 180);
   
}

.currentIdSpan{
    font-size: var(--font-size-4);
    opacity: 0.18;
    color: var(--admin-txt-color);
}



.campaignType{
    width: min-content;
    margin-bottom: var(--size-3);
    padding:var(--size-3) var(--size-5);
    border: 1px solid var(--border-color-strong);

}


.campaignInput{
    
   
    
  
    
   margin-bottom: var(--size-6);
  
   
}




.campaignEmailsDiv{

    background-color: var(--admin-campaign-display-emails-bg);
    min-height: var(--size-12);
    max-width: var(--size-17);
    width: 100%;

    padding: 0 var(--size-3);

    display:flex;
    flex-direction: column;
  
   

}


.campaignEmailDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: var(--size-3);
}


.showEmailButton{
  
    
    border: 1px solid var(--admin-neutral-9);
    
}

.showEmailButton:active{
    background-color: var(--admin-neutral-9);
}


.campaignInputEmail{
   
    resize:vertical;
}

