.mainDiv{
    position: relative;
    
    width:100%;
    max-width: var(--size-18);
    min-height: var(--size-13);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    border-radius: 8px;
    padding: var(--size-7);
    padding-top: 0;
}


.instructionSpan{
    align-self: flex-start;
    margin-bottom: var(--size-5);
}


      
.targetTrafficSelect{
    align-self: flex-start;
    color: var(--admin-txt-color);
    background-color: transparent;

    height: 40px;

  
  
    margin-bottom: var(--size-6);
    padding: var(--size-3) var(--size-6);
   
    border-radius: 2px;
    border: 1px solid var(--border-color-mid);
    cursor: pointer;
    user-select: none;
  
}

.targetTrafficSelect option{
    background-color: var(--admin-campaign-type-options-bg);
    margin: 40px;
}



.sequenceInput{
   
    
    min-width: var(--size-14);
   
    
    align-self: flex-start;
    
    
   margin-bottom: var(--size-6);
   /* border: 1px solid var(--border-color-strong); */
  
   
}





.saveSequence{
    
    margin: var(--size-4) var(--size-5);
    margin-top: var(--size-7);
   
    
    border: 1px solid rgb(22, 168, 51);
    
}
