




.editorBar{

    background-color: var(--admin-neutral-10);
    width: 100%;

    display: flex;
    justify-content: flex-start;
   
}

@layer lowPriority{

.editorBar button{
    background-color: var(--admin-neutral-9);
}


.editorBar select{
   
    background-color: var(--admin-neutral-9);
    outline: none;
    box-sizing: border-box;
    margin: 4px;
}

}


.fontmatchesSpan{
    margin: var(--size-5) var(--size-2) ;
    color: var(--success-color);

    align-self: center;
}

.fontWarningSpan{

    margin: var(--size-5) var(--size-2) ;
    color:var(--admin-warning-color);

}






.emailFontValueSelect{

    margin-right: var(--size-3);
}

.fontSizeDiv{
    position:relative;
    
    align-self: center;


    height: 100%;
}

.fontSizeInput{
    width: var(--size-12);
    background-color: var(--admin-neutral-9);
    height: 100%;
    font-weight: 500;
}

.fontSizeLabel{
    color: var(--neutral-4);
    position: absolute;
    top: -16px;
    left: 2px;

    font-size: 14px;
    font-weight: 500;


    user-select: none;
}

.fontSizePxLabel{
    color: black;
    position: absolute;
    top: 50%;
    left: 32px;

    font-size: 12px;
    font-weight: 500;

    transform: translateY(-50%);

    user-select: none;
}





.continueToPreviewButton{


    margin-top: var(--size-6);

    align-self: flex-end;
}