

.adminMainDiv{
    
    min-height: 100vh;
    min-width: 100%;
    height: auto;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--admin-txt-color);
 

    box-sizing: border-box;
    padding-bottom: var(--size-9-5);

    
}

.adminMainDiv::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/images/admin_login_2.jpeg') no-repeat;
    background-size: cover;
    filter: blur(2px) brightness(0.6); /* Adjust blur value as needed */
    z-index: -1; /* Behind content */
  }


.loginBox{
    width: var(--size-13);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: black;
    border-radius: 8px;

    padding: var(--size-7);
}

.loginTitle{
    color: var(--admin-login-title);
    margin-top: 0;
}



.loginInput{
    color: var(--admin-login-color);
    background-color: var(--admin-login-btn-bg);
    
    width: 100%;
  
    box-sizing: border-box;
    padding: var(--size-3);
    font-size: var(--font-size-3);
    line-height: var(--size-7);
   margin-top: var(--size-4);
   border: 1px solid var(--border-color-strong);
   border-radius: 8px;
   outline: none;
}

.loginInput::placeholder{
    
    color: var(--admin-login-placeholder);
    font-size: var(--font-size-1);
    
}

.loginButton{
    height: var(--size-7);
    color: var(--admin-login-color);
    background-color: var(--admin-login-btn-bg);

    margin-top: var(--size-7);
    padding: var(--size-3);
    border-radius: 8px;
   outline: none;
   box-sizing: border-box;
   border: 1px solid var(--border-color-strong);

   cursor: pointer;
   user-select: none;

}

@media(max-width: 980px){

    .centerLogin{
   
        margin-top: var(--size-8);
       
    }
}