


.instructionsWrapper{
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
    align-self: flex-start;
    padding-bottom: var(--size-5);
}


.revealInstructionsButton{

    width: fit-content;
   
    font-weight: 400;

    

    
}

.instructionsDiv{
max-height: 0;
    margin-top: var(--size-3);
      transform-origin: top;
      transition: all 0.3s ease;
      
      overflow-y: hidden;
}


.instructionsDiv span{
    display: block;
    line-height: var(--size-7);
    
  }



 