
.cardMainDiv{
    position: relative;
    width:100%;
    max-width: var(--size-18);
    min-height: var(--size-13);
    margin-top: var(--size-9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--admin-card-border-color);
    border-radius: 8px;

    box-sizing: border-box;
    padding: var(--size-7);
}

.cardMainDivDeleted{
    border: 2px solid red;
    box-shadow: 0 0 6px #5e550a;
}

.idDiv{
    
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   margin-bottom: var(--size-6);

   
}


.identifier{
   
    

    display: flex;
    justify-content: center;
    align-items: center;
   
    height: var(--size-7);
    aspect-ratio: 1;
   
    color: var(--admin-border-color-mid);
   
    border-radius: 2px;
    border: 1px solid var(--admin-border-color-mid);
    
    font-size: var(--font-size-4);
    
    
    
}

.swapperLabelCurrentId{
    display: block;

   
    
    color: var(--admin-txt-color-weak);

    font-size: var(--font-size-7);
}

.swapperLabelCurrentId span{
  
    color: var(--admin-txt-color);

    font-size: var(--font-size-6);
    opacity: 0.18;
}

.reviewEditButton{
 
    margin-top: var(--size-7);
   

    
}

.deleteReviewButton{
    border: 1px solid var(--admin-review-delete-button);
}




.headDiv{
    height: auto;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
   margin-bottom: var(--size-7);
}



.textArea{
    background-color: var(--admin-textArea-bg);
    min-height: 96px;
    width: 100%;
    box-sizing: border-box;
    padding: var(--size-6);
    font-size: var(--font-size-5);
    line-height: var(--size-7);
    padding-bottom: 128px;
    border-radius: 8px;
}


.swapperDiv{
    
 
    
 max-width: var(--size-13);

 display: flex;
 flex-direction: column;
 gap:var(--size-3);

}






.swapperLabelDescription{
   
    font-size: var(--font-size-2);
    opacity: 0.5;
}



.textAreaName{
    
    background-color: var(--admin-textArea-bg);
    
    min-width: var(--size-12);
    width: auto;
    
    box-sizing: border-box;
    padding: var(--size-3);
    font-size: var(--font-size-5);
    line-height: var(--size-7);
   border-radius: 8px;
}




.ratingDiv{
    position: absolute;
    bottom: var(--size-5);
    left:var(--size-5);

    padding: var(--size-3) var(--size-5);
    border-radius: 2px;

    font-size: var(--font-size-5);
    background-color: var(--admin-textArea-bg);
 
}





.imagesDiv{
    height: auto;
    

    
   
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    gap: var(--size-6);
    flex-wrap: wrap;

    
    margin-top: var(--size-6);
    margin-bottom:var(--size-6);
   
}







.addImage{

    position: relative;
    height: 40px;
    width: 40px;
   

    
    margin-left: var(--size-3);
    align-self: center;
    border-radius: 100%;
    cursor: pointer;
}

.addImage:hover{
}



.addImageIcon{
    height: 100%;
    width: 100%;
    margin: 0;
    
}

.addImagePathInput{
    
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    opacity: 0;
    margin: 0;
   

}


.deleteImageInstruction{
    align-self: flex-start;
    margin-top: var(--size-6);
}

.savedImage{
    position: absolute;
    bottom:6px;
    right:6px;
    

}