.root {
    /* maxWidth: 345, original width style */
   
    background-color: var(--product-card-bg);
    color: var(--light-txt-color);
    box-sizing: border-box;
    margin-bottom:  var(--size-8);
    padding: var(--size-4);
    padding-bottom: 0;
    
    overflow: clip;
    border-radius: 4px;

  box-shadow: var(--product-box-shadow);
  }


  
  .media {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    transition: scale 0.005s ease-in;
    overflow: clip;
    border-radius: 4px;
    cursor: pointer;
  }
 
 

  
  

  .addToCartImg{
    height: var(--size-6);
    width: var(--size-6);
    margin-right: var(--size-1);
    cursor: pointer;
    
  }


  .addToCartImg:hover {
    
    transform: scale(1.2);
  }
  
  .addToCartImg:active {
    transform: scale(1);
  }
  
  

  .cardContent {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
   padding-top: var(--size-5);
  }

  .cardContentText{
    height: min-content;
    display: flex;
    align-items: flex-end;
    margin: 0;
    font-size: var(--font-size-6);
    font-weight: 400;
  }

  .starDiv{
    display: flex;
    align-items: center;
   margin: var(--size-3) 0; 
  }

  .starClassName{
    height: 20px;
    width: 20px;
  }

  
    .product_rating_reviews_number{
      color: var(--weak-txt-color);
      margin-left: var(--size-4);
      font-size: var(--font-size-2);
      font-weight: 300;
    }



    .product_price{
      color: var(--product-price);
      display: flex;
      align-items: center;
      font-size: var(--font-size-7);
     margin-top: 0;
     margin-bottom: var(--size-6);
    }
    
    .product_price_span{
      color: var(--weak-txt-color);
      font-size: var(--font-size-4);
      margin-left: var(--size-4);
      text-decoration: line-through;
      font-weight: 300;
    
    }
  



  @media(max-width: 1220px){


    .addToCartImg{
      
      height: 22px;
      width: 22px;
    }

  /* .cardContentText{
    font-size: var(--font-size-5);
  } */
 

  }

  @media(max-width: 900px){


    .addToCartImg{
      
      height: 20px;
      width: 20px;
    }


  
  }

  



 

  @media(max-width: 600px){

   
    .addToCartImg{
    
      height: var(--size-6);
      width: var(--size-6);
    }
  
  .cardContentText{
    font-size: var(--font-size-5);
  }

  .product_price{
  
    font-size: var(--font-size-6);
  
  }
  
  .product_price_span{
    font-size: var(--font-size-4);
    margin-left: var(--size-4);
  
  }

  .product_rating_reviews_number{
  
    font-size: var(--font-size-1);
  }


   .starClassName{
    height: 16px;
    width: 16px;
  }

  }



@media (max-width: 480px) {


  .cardContentText{
    font-size: var(--font-size-4);
  }


  .product_rating_reviews_number{
    margin-left: var(--size-3);
    font-size: 8px;
  }

  .starClassName{
    height: 12px;
    width: 12px;
  }

  .product_price{
  
    font-size: var(--font-size-4);
  
  }

  .product_price_span{
    font-size: var(--font-size-1);
    margin-left: var(--size-4);
  
  }





}








  @media(max-width: 320px){
   

    .addToCartImg{
    
      height: 22px;
      width: 22px;
    }
  
  .cardContentText{
    font-size: var(--font-size-5);
  }

  }