


.creditCardForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top:  var(--size-5);
}

.ccInputRow{
    width: 100%;

    box-sizing: border-box;
    padding: 0 ;
  
    display: flex;
    flex-direction: row;
    
  
}

.lastCcInputRow{
  margin-bottom: var(--size-5);
}

.ccInputRow > :first-child{
  margin-left: var(--size-3);
}

.ccInputRow > :last-child{
  margin-right: var(--size-3);
}

.payNowButton{
   
    height: var(--size-8);
    width: calc(100% -  var(--size-5));
    background-color: var(--paynow-stripe-button);
    color: var(--high-contrast-light-txt-color);
    margin-top: var(--size-6) ;
    margin-bottom: var(--size-5);
    margin-left: var(--size-3);
    border: none;
    border-radius: 4px;
    font-size: var(--font-size-4);
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.payNowButton:hover{
    background-color: var(--paynow-stripe-button-hover);
   
}


.spinner{
  height: var(--size-5);
  width: var(--size-5);
  animation: spin 0.6s linear infinite;
}

.paymentError{
  color: var(--error-color);
  margin-top: calc(-1 * var(--size-3));
  margin-bottom: var(--size-5);
  margin-left: var(--size-2);
  font-size: var(--font-size-2);
}


.form_group {
    position: relative;
    width: 100%;
    margin-left: var(--size-3);
    margin-right: var(--size-3);
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      margin-bottom: var(--size-5);
    }

      .label{
    color: var(--checkout-input-placeholder);
    position: absolute;
    left: var(--size-3);
    top: var(--size-4);
    transition: all 0.3s ease;
    pointer-events: none;
    opacity: 0.7;
  }




    .formGroupError{
      margin-bottom: 0 !important;
    }
    
  
  
    .input_field {
   
      width: 100%;
      height: var(--size-8);
     
    
      background-color: var(--input-color);
      color: var(--high-contrast-light-txt-color);
      border-radius: 2px;
      align-self: center;
      box-sizing: border-box;
      padding-left: var(--size-3);
      border: none;
      outline: solid 1px var(--input-outline-color);
     
      font-size: var(--font-size-2);
      overflow: hidden;
      cursor: text;

    }


    .inputHelper{
      padding: var(--size-3);
      padding-top: 32px;
    }

    /**/
    /* padding: var(--size-3);
    padding-top: 18px; */
    /* rgb(74, 85, 187) */
    /* background-color: #202020; */
    /* rgba(53, 60, 110, 0.459); */
    /* rgb(134, 110, 114); */
    /* var(--input-autofill-color); */

    .stripeFieldFocused { 

      outline: 2px solid var(--input-outline-color-focused) !important;
  
  }
  
    .input_field:focus { 
      outline: 2px solid var(--input-outline-color-focused) !important;
      border:none;
  }
  

  
  
   
  
   
    .input_error{
      border: none;
      outline: 2px solid var(--error-box-shadow-color);
    }

    .error{

      color: var(--error-color);
      margin-top: var(--size-3);
      margin-bottom: var(--size-5);
      margin-left: var(--size-3);
      font-size: var(--font-size-2);

    }
  
  
    .label{
      color: var(--checkout-input-placeholder);
      position: absolute;
      left: var(--size-3);
      top: calc(50% - 10px);
      transition: all 0.3s ease;
      pointer-events: none;
      opacity: 0.7;
    }
  
  
    .labelFloating {
      opacity: 0.9;
    top: 8px;
    font-size: var(--size-4);
    
  }

  
  .inputWrapper{
    position: relative;
  }
  
  
  .stripeError{
    color: var(--error-color);
    margin-top: var(--size-3);
    margin-bottom: var(--size-1);
    font-size: var(--font-size-2);
  }

  .billingCheckboxDiv{
    display: flex;
     padding: 0 var(--size-3);
    margin-bottom: var(--size-5);
    cursor: pointer;
    user-select: none;
  }

  .billingCheckboxDiv *{
    cursor: pointer;
  }

  .addressTypeChecker{
  
    flex-shrink: 0;
      height: var(--size-5);
      width: var(--size-5);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      border: 1px solid var(--input-outline-color);
      box-shadow: var(--checkbox-unchecked-box-shadow);
      transition: box-shadow 0.2s ease;
     
  }
  .billingCheckboxDiv:focus .addressTypeChecker{
    border: 1px solid var(--checkbox-checked-bg-color);
  }

  .addressTypeCheckerChecked{
    box-shadow: var(--checkbox-checked-box-shadow);
  }

  .addressCheckerImage{
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  .addressTypeCheckerChecked .addressCheckerImage{
    opacity: 1;
  }
  

  .billingCheckboxLabel{
    margin-left: var(--size-3);
    
  }

  
    
    @media (max-width: 980px)  {


   
      
          .payNowButton{
            margin-top: var(--size-5);
            margin-left: 0;
            width: 100% ;
          }

          .ccInputRow > :first-child{
            margin-left: 0;
          }
          
          .ccInputRow > :last-child{
            margin-right: 0;
          }
     
        
    

  
      .form_group{
        margin-bottom: var(--size-4);
        margin-left: 0;
        margin-right: 0;
      }

      .ccInputRow{
        flex-direction: column;
        margin-bottom: 0;
      }


      .error{

        margin-left: 0;
  
      }

      .stripeError{
        margin-left: 0;
      }
    

      .billingCheckboxDiv{
      
         padding: 0;
      }


    
    
    
     
    }

   
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }