.mainDiv{
    position: relative;
    color: rgb(225, 236, 238);
    width:100%;
    max-width: var(--size-18);
    min-height: var(--size-13);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid rgb(143, 151, 156); */
    border-radius: 8px;
    padding: var(--size-7);
    padding-top: 0;
}


.descriptionMakerInstructionSpan{

    align-self: flex-start;
    margin-bottom: var(--size-5);
}

.emailContentDiv{
    width: 100%;
}





.getCurrentDescriptionWrapper{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: var(--size-5);
    margin-bottom: var(--size-5);





}

.newDescWarning{
    margin-top: var(--size-8);
}


.getCurrentDescrition{
   
    
    
    margin-top: var(--size-5);
    margin-bottom: var(--size-3);
    margin-left: var(--size-5);
   
    
}


.unlinkProductButton{


    margin-top: var(--size-3) !important;
   

}


.featuresWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: var(--size-5) var(--size-3);
    border: 1px solid var(--admin-neutral-8);
    margin-left: auto;
}

.featureButton{

    margin: 0;
    margin-top: var(--size-3);
    padding: var(--size-3) var(--size-2);
    font-size: 12px;
 
}




.textArea{
    color: rgb(225, 236, 238);
    background-color: var(--admin-email-input-bg);
    min-height: var(--size-14);
    max-height: var(--size-17);
    width: 100%;

    box-sizing: border-box;
    padding: var(--size-6);
    font-size: var(--font-size-5);
    line-height: var(--size-7);
    padding-bottom: 128px;
    border-radius: 8px;
    border: none;
    outline: none;
    resize: none;
}

.textAreaCss{
    margin-top: var(--size-7);
}

/* .textArea:focus{
    border: 1px solid #4fabe0;
    box-shadow: 0 0 8px #4fabe0;
} */

.newEmailButtons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.previewButton{
    margin: var(--size-4) var(--size-2);
    margin-top: var(--size-7);
  
    
}

.saveButton{
    align-self: flex-end;
}


.previewContent{
    position: relative;
    color: rgb(225, 236, 238);
    width:100%;
    max-width: var(--size-18);
    min-height: var(--size-13);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(143, 151, 156);
    border-radius: 8px;
    margin-top: var(--size-9);
    box-sizing: border-box;
    padding: var(--size-7);
}




.inputProductId{
    color: rgb(225, 236, 238);
    background-color: var(--admin-email-input-bg);
    
    width: auto;
  
    box-sizing: border-box;
    padding: var(--size-3);
    font-size: var(--font-size-5);
    line-height: var(--size-7);
   margin-top: var(--size-3);
   border: 1px solid var(--border-color-strong);
   border-radius: 8px;
   outline: none;
}

.inputProductId::placeholder{
    font-size: var(--font-size-1);
}

.saveDescription{
    
  
    
    margin-top: var(--size-5);
    margin-bottom: var(--size-3);
   
    
}
