.toolbar {
  max-width: var(--size-19);
    width: calc(100% - var(--size-11-5));

    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--size-2);
    margin-bottom: var(--size-8);
    contain: layout;
  
  }

 

  .toolbarBorder{
    border: 1px solid var(--border-color-strong);
  }
  
  /* #030a08 */
  /* Mozda ovde staviti max width ili nesto */
  .title {
  
    margin-bottom: 40px;
  }
  
  .homeProductsTitle{
    margin-top: var(--size-11-5);
    margin-bottom: 32px;
  }
  
  .mainGridStyle {
    flex-wrap: wrap;
    width:100%;
    display: flex;
    justify-content: flex-start;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 items per column by default */
    column-gap: var(--size-7);
    margin-top: var(--size-3);
 
    
  }
  /* #030a08 */
 
  .viewAllLink {
    height: var(--size-8);
    width: var(--size-11-5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:  var(--size-4);
   
    font-size: 28px;
    padding: 0;
    color: gray;
    background-color: transparent;
    border: solid var(--border-color-strong) 1px;
    border-radius: var(--size-2);
  }




  @media (max-width: 980px)  {
    .toolbar{
      width: calc(100% - var(--size-11));
    }

    .homeProductsTitle{
      margin-top: var(--size-9-5);
    }
    
  }

  @media(max-width: 900px){
    .mainGridStyle{
      grid-template-columns: repeat(2, 1fr);
      column-gap: var(--size-6);
    }
  }

  @media (max-width: 900px){
    .toolbar{
      width: calc(100% - var(--size-10));
    }
  }

 
  
  @media (max-width: 600px)  {
    .toolbar{
      width: calc(100% - var(--size-8));
      margin-bottom: var(--size-5);
    }

    .homeProductsTitle{
      margin-top: var(--size-10);
    }

    .mainGridStyle{
      grid-template-columns: repeat(1, 1fr);
      column-gap: var(--size-5);
    }

  
  }



    
  @media (max-width: 480px)  {
    .toolbar{
      width: calc(100% - 40px);
    }
  
  }