.mainDiv{
    position: relative;
    
    width:100%;
    max-width: var(--size-18);
    min-height: var(--size-13);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-7);
    
    border-radius: 8px;
    padding: var(--size-7);
    padding-top: 0;
}



.campaignInput{
    
    
    min-width: var(--size-14);
  
    
    align-self: flex-start;
 
    
 
   
}









.campaignPropertiesWrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}


.targetTrafficDivWrapper{
    display: flex;

    gap: var(--size-4);
 
}






.targetTrafficSelect{
    align-self: flex-start;
    
    background-color: transparent;

    height: 40px;

  
  
    padding: var(--size-3) var(--size-6);
   
    border-radius: 2px;
    
    cursor: pointer;
    user-select: none;
  
}

.targetTrafficSelect option{
    background-color: var(--admin-campaign-type-options-bg);
   
}

.explainDivWrapper{
    display: flex;
    flex-direction: column;
    gap: var(--size-5);
    
    align-self: flex-start;
}

.explainTargetTrafficButton {

   
    

    height: 40px;

    
 
    
    font-weight: 400;
    align-self: flex-start;

}

.targetTrafficExplanationWrapper{

    

    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    padding: var(--size-5);
    border: 1px solid var(--admin-border-color-mid);

    gap: var(--size-4);
    
    
    

}












.datePicker{
  
   
    align-self: flex-start;
    background-color: var(--admin-neutral-11);

}




.dateInput{


    background-color: var(--admin-neutral-11);

    height: 40px;
 
    
    
    
}

.linkedSequenceDiv{

    display: flex;
    flex-direction: column;
    gap: var(--size-3);


    align-self: flex-start;
}




.runCampaign{
    
    margin-top: var(--size-6);
    
    
    border: 1px solid var(--admin-positive-color);
    
    
}
