.mainDiv{
    position: relative;
    color: rgb(225, 236, 238);
    width:100%;
    max-width: var(--size-18);
    min-height: var(--size-13);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid rgb(143, 151, 156); */
    border-radius: 8px;
    padding: var(--size-7);
    padding-top: 0;
}



.campaignInput{
    color: rgb(225, 236, 238);
    background-color: var(--email-input-bg);
    min-width: var(--size-14);
    width: 100%;
    align-self: flex-start;
    box-sizing: border-box;
    padding:  var(--size-3);
    font-size: var(--font-size-5);
    line-height: var(--size-7);
   margin-bottom: var(--size-6);
   /* border: 1px solid var(--border-color-strong); */
   border: none;
 
   border-radius: 8px;
   outline: none;
}

.campaignInput:focus{
    border: 1px solid #4fabe0;
    box-shadow: 0 0 8px #4fabe0;
}







.campaignPropertiesWrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--size-9);
}


.targetTrafficDivWrapper{
    display: flex;
 
}


.targetTrafficSelect{
    align-self: flex-start;
    color: var(--admin-txt-color);
    background-color: transparent;

    height: 40px;

  
  
    padding: var(--size-3) var(--size-6);
   
    border-radius: 2px;
    border: 1px solid var(--border-color-strong);
    cursor: pointer;
    user-select: none;
  
}

.targetTrafficSelect option{
    background-color: var(--admin-campaign-type-options-bg);
    margin: 40px;
}

.explainTargetTrafficButton {

    color: var(--admin-txt-color-mid);
    background-color: transparent;

    height: 40px;

    margin-left: var(--size-5);
 
   
    border-radius: 2px;
    border: 1px solid var(--border-color-mid);
    font-weight: 400;
    align-self: flex-start;

}

.targetTrafficExplanationWrapper{

    

    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    /* margin: 0 var(--size-9); */
    padding: var(--size-5);
    border: 1px solid var(--border-color-strong);

    gap: var(--size-4);
    margin-top: calc(-1 * var(--size-8));
    margin-bottom: var(--size-9);
    align-self: flex-start;

}

.targetTrafficExplanationSpan{

}







.datePickerWrapper{
    
    align-self: flex-start;
}

.datePicker{
  
   
    background-color: black !important;

}

.dateRangeLabel{
    margin-left: var(--size-1);
    font-size: var(--font-size-3);
    font-weight: 400;
}

.dateInput{
    
    color: var(--admin-txt-color);
    background-color: transparent ;

    height: 40px;
    box-sizing: border-box;
    padding: var(--size-3);
    border: 1px solid var(--border-color-strong);
}

.linkedSequenceDiv{

    display: flex;
    flex-direction: column;

    margin-bottom: var(--size-6);

    align-self: flex-start;
}

.unlinkSequenceButton{

    color: var(--admin-txt-color);
    background-color: transparent;

    
    margin-top: var(--size-3);
  
    padding: var(--size-3) var(--size-6);
   
    border-radius: 2px;
    border: 1px solid var(--border-color-strong);
    cursor: pointer;
    user-select: none;

}


.runCampaign{
    
    margin: var(--size-4) var(--size-5);
    margin-top: var(--size-7);
    color: var(--admin-txt-color);
    background-color: transparent;
    padding: var(--size-3) var(--size-6);
    border-radius: 2px;
    border: 1px solid rgb(22, 168, 51);
    cursor: pointer;
    user-select: none;
}
