

.mainDiv{
  width: 100%;
  display: flex;
  flex-direction: column;
    align-items: center;
  justify-content: center;
  padding-top: var(--size-7); 

}





.collectionInfo{
  
  background-color: var(--collection-info-bg);

  height: var(--size-14);
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-9);


  box-sizing: border-box;
  padding: var(--size-7);
  margin-bottom: var(--size-8);

  
  
  contain: content;
}


.collectionText{

  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  max-width: var(--size-15);

 
  box-sizing: border-box;


  
  
}

.collectionName{
  margin-top: 0;

  margin-bottom: var(--size-3);
  font-size: var(--font-size-7);
  font-weight: 400;
 
}

.collectionDescription{
  color: var(--collection-description-txt-color);
 
  font-size: var(--font-size-2);
  font-style: italic;
  font-weight: 400;
  line-height: var(--size-6);
}









.collectionImage{

  flex: 1;

height: 100%;
max-width: var(--size-15);


 object-fit: contain;
  border-radius: 4px;
}

@media (max-width: 756px){




  

  .collectionInfo{
    padding: var(--size-4);
    height: auto;
    width: calc(100% - var(--size-10));
    flex-direction: column;
    
    gap: var(--size-7);
    border-radius: 4px;
  }


  .collectionName{
    margin-top: var(--size-2);
  }

  .collectionImage{

    max-width: none;
    width: 100%;


  }



  .collectionText{
  
    /* padding: var(--size-5) 0; */
  
    max-width: none;
    width: 100%;
  }


}





@media (max-width: 600px){
  .collectionInfo{
    padding: var(--size-3);
    width: calc(100% - 40px);

  }


  .collectionName{
    margin-top: var(--size-3);
  }

}


@media (max-width: 480px){
  .collectionInfo{
    padding: var(--size-5) var(--size-4);
  
    

  }


  .collectionName{
    margin-top: 0;
  }

}

@media (max-width: 420px) {
  
  .collectionInfo{

    margin-bottom: var(--size-7);
  }


}