
.cardMainDiv{
   
    width:100%;
    max-width: var(--size-18);
    min-height: var(--size-13);
    margin-top: var(--size-9);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(143, 151, 156);
    border-radius: 2px;
    
}

.productReturnsPageStyle{
    margin-top:var(--size-3);
}

.cardRow{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: 1px solid var(--border-color-strong);
    
    box-sizing: border-box;
    padding: 0 var(--size-5);
}

.infoRowDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    column-gap: var(--size-9);
    row-gap: var(--size-5);
    padding: var(--size-6) var(--size-5);
  
}
.cardRowNoBorder{
    border: none;
}

.rowTitle{

    color: var(--neutral-5) !important;

    text-align: start;
   
    
    width: var(--size-11-5);
    display: flex;
    align-items: center;
    
    
    margin: 0;
    padding: var(--size-5) var(--size-5);
    padding-left: var(--size-1);
    border-right: 1px solid var(--border-color-strong);
    font-size: var(--font-size-3);
    font-weight: 400;
  
}



.infoPair{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    white-space: nowrap;
    
}

.infoPair > :first-child{
    margin: 0;
    opacity: 0.5;
    font-size: var(--font-size-1);
}

.infoPair *{
    margin-top: var(--size-1);
    font-size: var(--font-size-5);

}


.identifier{
    display: flex;
    justify-content: center;
    align-items: center;
   
    height: var(--size-6);
    aspect-ratio: 1;
   
    color: var(--border-color-mid);
   
    border-radius: 2px;
    border: 1px solid var(--border-color-mid);
    
    font-size: var(--font-size-4);
    align-self: center;
}

.orderId{
    opacity: 0.5;
    align-self: center;
}

.itemsRow{
    height: auto;
    min-height: var(--size-10);
}

.itemsMiniRow{
    
    align-self: flex-start;
}

.itemInfoRow{
    height: 100%;
    margin-bottom: var(--size-3);
    border-bottom: 1px solid rgb(105, 79, 12);
    padding: var(--size-2) var(--size-1);
   
   
}

.groupedInfo{

    display: flex;
    gap: var(--size-5);
}






.productImage {
    
    height: 40px;
    width: 40px !important;
   border-radius: 2px;

   filter: brightness(75%);
  
    }

.transactionInfoDiv{
 
    position: relative;
  
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    padding-right: 0;
}


.transactionInfoDivCovered{
    column-gap: var(--size-7);
}







.fieldCovered{
    height: 100%;
    min-height: var(--size-8);
    flex: 1 1 0;
    color: rgba(255, 255, 255, 0.405);
    background-color: var(--order-cover-details-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-2);
    font-style: italic;
    border-radius: 4px;
   
    cursor: pointer;
    user-select: none;
}








.paymentIdCovered{
    color: rgba(255, 255, 255, 0.848);
    background-color: var(--order-cover-details-color);
    font-size: var(--font-size-2);
    padding: var(--size-2) var(--size-3);


    border-radius: 4px;
    font-style: italic;
    cursor: pointer;
    user-select: none;
}

.packageStatusButton{

   
    color: var(--admin-txt-color);
        background-color: var(--package-status-button-bg);
        padding: var(--size-3) var(--size-6);
        border-radius: 2px;
        border: 1px solid var(--border-color-strong);
        cursor: pointer;
        user-select: none;
    


    margin: var(--size-4) 0;
}