
.cardMainDiv{
   
    width:100%;
    min-height: var(--size-13);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--admin-border-color-mid);
    border-radius: 2px;
    
}




.cardRow{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: 1px solid var(--admin-border-color-mid);
    
    box-sizing: border-box;
    padding: 0 var(--size-5);
}

.infoRowDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    column-gap: var(--size-9);
    row-gap: var(--size-5);
    padding: var(--size-6) var(--size-5);
  
}
.cardRowNoBorder{
    border: none;
}

.rowTitle{

    color: var(--admin-order-row-title-color);

    text-align: start;
   
    
    width: var(--size-11-5);
    display: flex;
    align-items: center;
    
    
    margin: 0;
    padding: var(--size-5) 0;
    padding-left: var(--size-1);
    border-right: 1px solid var(--admin-border-color-mid);
    font-size: var(--font-size-3);
    font-weight: 400;
  
}



.infoPair{

    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    white-space: nowrap;
    
}

.infoPair > :first-child{
    margin: 0;
    opacity: 0.5;
    font-size: var(--font-size-1);
}

.infoPair *{
    margin-top: var(--size-1);
    font-size: var(--font-size-5);

}


.identifier{
    display: flex;
    justify-content: center;
    align-items: center;
   
    height: var(--size-6);
    aspect-ratio: 1;
   
    color: var(--admin-border-color-mid);
   
    border-radius: 2px;
    border: 1px solid var(--admin-border-color-mid);
    
    font-size: var(--font-size-4);
    align-self: center;
}

.orderId{
    opacity: 0.5;
    align-self: center;

    padding: var(--size-5) 0;
}

.itemsRow{
    height: auto;
    min-height: var(--size-10);
}

.itemsMiniRow{
    
    align-self: flex-start;
}

.itemInfoRow{
    height: 100%;


    align-items: center;

    



    border-bottom: 1px solid var(--admin-order-item-separater-color);
    padding: var(--size-3) var(--size-1);
   
   
}



.groupedInfo{

    display: flex;
    gap: var(--size-5);
}



.productImageDiv{
    position: relative;

}




.productImage {
    
    height: var(--size-9);
    width: var(--size-9);
   border-radius: 2px;

   filter: brightness(75%);
  
    }

    .productImageQuantityMark{
        position: absolute;
        top: 0;
        right: 0;

        height: var(--size-6);
        aspect-ratio: 1;

        color: var(--admin-neutral-11);
        background-color: var(--admin-main-3);

        display: flex;
        justify-content: center;
        align-items: center;


        box-sizing: border-box;
        border: 2px solid var(--admin-border-color-weak);
        border-radius: 50%;


        font-weight: 600;
        translate: 50% -50%;
    }


    .externalUrl{


        height: var(--size-6);
        width: var(--size-6);
        
        

    }


    .orderPlacedBox{
        height: var(--size-8);
        aspect-ratio: 1;

        box-sizing: border-box;
        border-radius: 50%;
        border: 1px solid var(--admin-border-color-mid);

        
        padding: var(--size-3);
        cursor: pointer;
        
    }

    .orderPlacedImage{

        height: 100%;
        width: 100%;

    }

.transactionInfoDiv{
 
    position: relative;
  
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    padding-right: 0;
}


.transactionInfoDivCovered{
    column-gap: var(--size-7);
}







.fieldCovered{
    height: 100%;
    min-height: var(--size-8);
    flex: 1 1 0;
    color: var(--admin-order-cover-details-color);
    background-color: var(--admin-order-cover-details-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-2);
    font-style: italic;
    border-radius: 4px;
   
    cursor: pointer;
    user-select: none;
}








.paymentIdCovered{
    color: var(--admin-order-cover-details-color);
    background-color: var(--admin-order-cover-details-bg);
    font-size: var(--font-size-2);
    padding: var(--size-2) var(--size-3);


    border-radius: 4px;
    font-style: italic;
    cursor: pointer;
    user-select: none;
}

.packageStatusButton{

   
    color: var(--admin-txt-color);
        background-color: var(--admin-package-status-button-bg);
        padding: var(--size-3) var(--size-6);
        border-radius: 2px;
        
        cursor: pointer;
        user-select: none;
    


    margin: var(--size-4) 0;
}