
.dismissSubscribersButton{
    color: var(--admin-txt-color);
    background-color: transparent;
    margin-bottom: var(--size-5);
    padding: var(--size-3) var(--size-6);
    border-radius: 2px;
    border: 1px solid var(--border-color-strong);
    cursor: pointer;
    user-select: none;
}