

.starsWrapper{
  display: flex;
  contain: layout paint ;
}

.star{
margin-bottom: var(--size-2);
}

 .error{
    color: var(--error-color);
    margin-top: var(--size-3);
	margin-bottom: var(--size-3);
    font-size: var(--font-size-2);
  }