

.starsWrapper{
  display: flex;
  contain: content;
  gap: 4px;
}

.customerStars{
  
  box-sizing: border-box;

  margin-bottom: var(--size-2);

  padding: 0 var(--size-4);
  padding-top: var(--size-5);
}

.star{
margin-bottom: var(--size-2);
}


.customerStar{
  height: 20px;
  width: 20px;
  margin-bottom: var(--size-2);
}

 .error{
    color: var(--error-color);
    margin-top: var(--size-3);
	margin-bottom: var(--size-3);
    font-size: var(--font-size-2);
  }


  @media (max-width: 420px){

    .customerStar{
      height: 16px;
      width: 16px;
    }

  }