.emailContentDiv{
    width: 100%;
    
    padding-bottom: var(--size-8);
    padding-top: var(--size-8);
    border-bottom: 1px solid green;

   
}


.idDiv{
    width:100%;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
   
}

.currentId{
   
    font-size: var(--font-size-8);
    color: var(--admin-txt-color-weak);
    margin-left: var(--size-2);
    margin-right: var(--size-2);
}

.currentIdText{
    font-size: var(--font-size-7);
    opacity: 0.18;
    color: var(--admin-txt-color);
}



.titleInput{
   
    
    min-width: var(--size-14);
 
    
    align-self: flex-start;
   
    
  
    
   margin-bottom: var(--size-6);
   /* border: 1px solid var(--border-color-strong); */
 
   
}







.textArea{
    color: var(--admin-txt-color);
    background-color: var(--admin-textArea-bg);
    max-height: var(--size-14);
    min-height: var(--size-12);
    width: 100%;
    box-sizing: border-box;
    padding: var(--size-6);
    font-size: var(--font-size-5);
    line-height: var(--size-7);
  
    border-radius: 8px;
    border: none;
    outline: none;
    resize: none;
}

.textAreaCss{
    margin-top: var(--size-5);
}
/* .textArea:focus{
    border: 1px solid #4fabe0;
    box-shadow: 0 0 8px #4fabe0;
} */

.buttonBar{
    width: 100%;
    display: flex;

}

.previewButton{
    margin: var(--size-4) var(--size-5);
    margin-top: var(--size-7);
   
    
}



.deleteEmail{
  margin-left: auto;
}





.previewContent{
    position: relative;
    
    width:100%;
    max-width: var(--size-18);
    min-height: var(--size-13);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--admin-card-border-color);
    border-radius: 8px;
    margin-top: var(--size-5);
    box-sizing: border-box;
    padding: var(--size-7);
}
