.emailContentDiv{
    width: 100%;
    
    box-sizing: border-box;
    padding-bottom: var(--size-8);
    padding-top: var(--size-8);
    border-bottom: 1px solid green;

    display: flex;
    flex-direction: column;
    gap: var(--size-6);

   
}


.idDiv{
  
    display:flex;
    
    align-items: flex-end;
    gap: var(--size-3);

    align-self: flex-end;

    margin-bottom: calc(-1 * var(--size-4));
   
}

.currentId{
   
    font-size: var(--font-size-8);
    color: var(--admin-txt-color-weak);
   
    
}

.currentIdText{
    font-size: var(--font-size-7);
    opacity: 0.18;
    color: var(--admin-txt-color);
}



.titleInput{
   
    
    min-width: var(--size-14);
 
    
    align-self: flex-start;
   
    
  
    
    
   /* border: 1px solid var(--border-color-strong); */
 
   
}











.buttonBar{
    width: 100%;
    display: flex;
    gap: var(--size-5);
    

    box-sizing: border-box;
    padding: 0 var(--size-1) ;

}






.deleteEmail{
  margin-left: auto;
}





.previewContent{
    
    
    width:100%;
    max-width: var(--size-18);
    min-height: var(--size-13);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--admin-card-border-color);
    border-radius: 8px;
    
    
    
}
