.form_group {
  position: relative;
  

  
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
  }
  
  .inputWrapper{
    position: relative;
    width: 100%;
  }


  .input_field {
    width: 100%;
    height: var(--size-8);

  
   
    background-color: var(--input-color);
    color: var(--high-contrast-light-txt-color);
    padding: var(--size-3);
    padding-top: 24px;
    border-radius: 2px;
    align-self: center;
    box-sizing: border-box;
    border: solid 1px var(--input-outline-color);
  
    font-size: var(--font-size-2);
    
  }


  .input_field:focus { 
    border: solid 2px var(--input-outline-color-focused);
    
}


.input_field:-webkit-autofill {
  background-color: var(--input-autofill-color);
  -webkit-box-shadow: 0 0 0 30px var(--input-autofill-color) inset !important;
  -webkit-text-fill-color: var(--high-contrast-light-txt-color) !important;
  
  padding: var(--size-3);
  padding-top: 24px;
  border-radius: 2px;
}

/* For Firefox */
.input_field:-moz-autofill {
  background-color: var(--input-autofill-color);
  -webkit-box-shadow: 0 0 0 30px var(--input-autofill-color) inset !important;
  -webkit-text-fill-color: var(--high-contrast-light-txt-color) !important;
  
  padding: var(--size-3);
  padding-top: 24px;
  border-radius: 2px;
}






.label{
  color: var(--checkout-input-placeholder);
  position: absolute;
  left: var(--size-3);
  top: calc(50% - 10px);
  transition: all 0.3s ease;
  pointer-events: none;
 
}


.input_field:focus + .label,
.input_field:not(:placeholder-shown) + .label {
  color: var(--checkout-input-placeholder-floating);
top: 8px;
font-size: var(--size-4);

}

.input_field:-webkit-autofill + .label {
  color: var(--checkout-input-placeholder-floating);
position: absolute;
left: var(--size-3);
top: 8px;
transition: none;
pointer-events: none;

}

/* For Firefox */
.input_field:-moz-autofill + .label {
  color: var(--checkout-input-placeholder-floating);
position: absolute;
left: var(--size-3);
top: 8px;
transition: none;
pointer-events: none;

}






 

 
  .input_error{
    
    border: 2px solid var(--error-box-shadow-color) !important;
  }





  
  @media (max-width: 980px)  {

    .form_group{
      margin-bottom: var(--size-4);
      margin-left: 0;
      margin-right: 0;
    }
  
  
   
  }


  @media (max-width: 580px)  {

   

  }