  .rightWrapper{
   
    display: flex;
    justify-content: flex-start;
    flex: 1 1 auto;
   
   
    background-color: var(--checkout-order-summery-bg);
  

    box-sizing: border-box;
    border-left: 1px solid var(--border-color-mid);
    
    
    
 
  }

  /* Ako hocu punu polovinu, samo izbaciti  flex: 1 1 auto; i ubaciti   width: 50%; i u checkout_right margin-left: var(--size-6); */
  
  .checkout_right {


    position: sticky;
      
    top: var(--size-8-5);

    height: min-content;
    width: var(--size-14-5);
   
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    


    padding: 0 40px;
   
    padding-top: var(--size-8-5);

    
   
    contain:content;
  }


  .title_div{
    display: none;
  }

  

 

  .checkout_right span {
    margin: 0 var(--size-2);
  }
  
 
  




 

  .productImageDiv{
    height: min-content;
    flex:1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }


  .productImageWrapper{
    position: relative;

    
    margin-right: var(--size-5);
  }




  .badgeDiv{
   
    position: absolute;
    top: 0;
    right: 0;

    min-width: 20px;
    min-height: 20px;
    

   

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--checkout-item-badge-color);
    background-color: var(--checkout-item-badge-bg);

    box-sizing: border-box;
    padding: var(--size-1) 6px;
   
    border-radius: 36px;

    transform: translate(25%, -50%);


    font-size: 12px;
    font-weight: 600;
  }


  .productImage{
    height:auto;
    width: var(--size-9);
    aspect-ratio: 1;
  
    border-radius: 8px;
    user-select: none;
  }

  .productTitleDiv{
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
    font-size: var(--font-size-2);
   
  }

  .variant{
   
    color: var(--summery-variant-color);


    font-size: var(--font-size-1);
    font-weight: 400;
  
  }

  .bundleDisc{

    color: var(--summery-variant-color);

    display: flex;
    align-items: center;
    gap: var(--size-2);

    font-size: var(--font-size-1);
    font-weight: 400;

  }

  .bundleDiscIcon{
    width: var(--size-5);
    height: var(--size-5);
  }


  .stickerPrice{
    color: var(--summery-sticker-price-color);
    text-align: right;
    text-decoration: line-through;
    font-size: 10px;
  }


  .coupon_code{
   
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    gap: var(--size-5);

    border:none;
    margin-top: var(--size-2);
    margin-bottom: var(--size-4);
    overflow:visible;
   
  
  }




  .form_group {
    position: relative;
    
    
  
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }


  .coupon_code_input {
    width: 100%;
      height: var(--size-8);
      background-color: var(--checkout-input-bg);
      color: var(--checkout-input-color);
    
      
      padding-top: 24px;
    
      
      align-self: center;
     
      
      box-sizing: border-box;
      border: solid 1px var(--checkout-input-border-color);
 
      font-size: var(--font-size-2);
  }

  .coupon_code_input_error{
    border: 1px solid var(--error-box-shadow-color);
   
  }

  .coupon_code_input:focus { 
    
    border: solid 2px var(--checkout-input-border-color-focused);
   
}

.couponError{

  display: flex;
  align-items: center;
  
  color: var(--error-color);
  padding-top: var(--size-3);
  margin-bottom: 0;
  margin-left: var(--size-1) !important;
  font-size: var(--font-size-2);
  
}


.weakCouponError{
  display: flex;
  align-items: center;
  
  color: var(--weak-coupon-color);
  background-color: var(--weak-coupon-bg);

  display: flex;
  justify-content: space-between;
  gap: var(--size-4);

  box-sizing: border-box;
  border-radius: 6px;
  padding: var(--size-5) var(--size-3);


  margin-top: calc(-1 * var(--size-4)) !important;
  margin-bottom: var(--size-3) !important;

  margin-left: 0 !important;
  margin-right: 0 !important;

  font-size: var(--font-size-2);
}


.weakCouponCacel{

  flex-shrink: 0;

    height: var(--size-5);
    width: var(--size-5);

    
    margin-right: var(--size-2);
  
    opacity: 0.8;
   
    cursor: pointer;
    transition: opacity 0.2s ease;
  


}

.weakCouponCacel:hover{
  opacity: 1;
}
 
  
  .apply{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--apply-coupon-txt-color);

    width: var(--size-10);
    
  
    background-color: var(--apply-coupon-color);


    box-sizing: border-box;
    border-radius: 4px;
   
    border: 1px solid var(--apply-border-color);

    font-size: var(--font-size-3);
    
  }

  .apply:hover{
    background-color: var(--apply-coupon-hover-color);
  }

  .applyDisabled{

    color: var(--action-button-disabled-txt-color);
    background-color: var(--action-button-disabled-bg);

    cursor: auto;
    
  }

  .applyDisabled:hover{
    background-color: var(--action-button-disabled-bg);
  }


  .mainCouponCode {
    color: var(--coupon-code-color);
    background-color: var(--coupon-code-bg);
    width:min-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--size-3) var(--size-2);
    margin-top: var(--size-4);
    margin-bottom: 0;
    border-radius: 4px;
    font-weight: 500;
  }

  
  .mainDiscountImg{
    height: 18px;
    width: 18px;
    margin-left: var(--size-2);
 
  }

  .discountCancelImage{
    height: var(--size-5);
    width: var(--size-5);
    margin-left: var(--size-2);
    margin-right: var(--size-2);
    opacity: 0.8;
   
    cursor: pointer;
    transition: opacity 0.2s ease;
  }

  .discountCancelImage:hover{
    opacity: 1;
  }


  .couponCodeDiv{
    display: flex;
    align-items: center;
    
    color: var(--discount-order-pair-color);
  }

  .discountIcon{
    height: var(--size-5);
    width: var(--size-5);
    margin-left: var(--size-2);
    margin-right: var(--size-1);
  }

.discountPrice{

  margin:0;
  
}


  
 


  
  .discountPairTitle{
    display: flex;
    align-items: center;
    font-size: var(--font-size-2);

    margin-bottom: var(--size-5);
  
   
 
  }


  .order_pair{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-2);
   
  }
  


  


  



  
   
 
  .totalPair{
    
  padding-bottom: var(--size-5) !important;
  }
 
  


  .totalText{
    font-size: var(--font-size-4);
    font-weight: 600;
  }
 


.currency{
  opacity: 0.7;
  font-size: var(--font-size-1);
  margin: 0 var(--size-1);
  
}





.total{
  font-size: var(--font-size-4);
  font-weight: 600;
}

.myLabel{
    color: var(--checkout-input-placeholder);
    position: absolute;
    left: var(--size-3);
    top: 14px;
    transition: all 0.3s ease;
    pointer-events: none;
   
  }

  .totalDiscount{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--size-1);


    box-sizing: border-box;

    padding: 0 var(--size-1);
    
    padding-bottom: var(--size-5);

  }

  .totalDiscountImg{
    height: 20px;
    width: 20px;
   
    margin-left: var(--size-2);
  }



  .totalDiscountSpan{
    white-space: nowrap;
    font-size: var(--font-size-3);
    font-weight: 600;
  }

  .totalDiscountTxt{
      flex: 1;
  }


  .coupon_code_input:focus + .myLabel,
  .coupon_code_input:not(:placeholder-shown) + .myLabel {
   
    color: var(--checkout-input-placeholder-floating);
  top: 8px;
  font-size: var(--size-4);
  
  }
  




 

 

















   
  
    
   
   
    
   
    
    .emerge {
      /* background-color: #091a29; */
      
      max-height: none;
      max-width: var(--size-16);
      width: 100%;
     
      display: flex;
      flex-direction: column;
      gap: var(--size-4) 0;
      
      transform-origin: top;
      transition: all 0.3s ease;

        
    
    
    }

   
  
    @media (min-width: 980px){
      .emerge{
        
      max-height: none !important;
      }
    }
  
 
    

  @media (max-width: 980px)  {


  
   
   
   .rightWrapper{
   
    
    background-color:var(--checkout-order-summery-bg-mobile);

    width: 100%;
    min-height: 0;
    padding-top: 0;
    border-left: none;
    justify-content: center;

    padding: 0;
    margin-bottom: var(--size-6);

   }


   .checkout_right{
    position: static;
      max-width: none;
    width: 100%;
    padding: 0;
    
   
  }
    
   
  .titleDivWrapper{

    
   background-color: var(--checkout-order-summery-bg-mobile-title);

    width: 100%;

    display: flex;
    justify-content: center;
    
  }

   .title_div {
   
    height: var(--size-9);
    max-width: var(--size-16);
   width: calc(100% - var(--size-11));


   

    display: flex;
    justify-content: space-between;
    align-items: center;
   
   
    


    margin: 0 var(--size-6);
  

    box-sizing: border-box;
      
      font-size: var(--font-size-4);
      font-weight: bold;
      cursor: pointer;

   }

   




   

  

   .mobileTitle{
    display: block;
    color: var(--summery-title-color);
    user-select: none;
    font-size: var(--font-size-3);
    font-weight: 400;
  
  }

 

   .pcTitle{
    display:none
  }

   .arrowImg{
    height: var(--size-3);
    width: var(--size-3);
    margin: 0;
    margin-left: var(--size-4);
    transform: rotateY(0deg) rotate(180deg);
    transform-origin: center;
    transition: transform 0.2s ease;
    contain: paint;
    
   }

   .arrowDown{
    transform: rotateY(180deg) rotate(0deg);
    transform-origin: center;
   }

   .mainPriceDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--size-1);
   }

   .mainPriceSub{
    opacity: 0.5;
    font-size: var(--font-size-1) !important;
    text-decoration: line-through;
   }

   .mainPrice{

    color: var(--summery-title-price-color);
    
    user-select: none;
    font-size: var(--font-size-4);
    font-weight: 400;

   }

 



   

   

 
   

   

    .emerge {

    max-height: 0;
     
    
      box-sizing: border-box;
      padding: 0 var(--size-9);
      
     
   


   
        
        gap: var(--size-4) 0;
    

      
      
      overflow-y: hidden;
    }

    .emergePaddingTop{
      
      padding-top: var(--size-6);
    }

   
    

    .coupon_code{
   
   
      margin-top: var(--size-3);
      margin-bottom: var(--size-3);
     
    
    }
    



    .weakCouponError{
      margin-top: calc(-1 * var(--size-3)) !important;
   
      
    }
   

  }
  
  @media(max-width:600px){

    
   .underSummeryTitleSegment{

   width: calc(100% - var(--size-8) + var(--size-4));

  }

  .title_div{
      
     width: calc(100% - var(--size-6));
  
     }
  
     .emerge{
     
     padding: 0 var(--size-6);
     
     }
    

     .productImageWrapper{
     
      margin-right: var(--size-3);
     }

    

  }

   





  