

.mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interfaceDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--size-9);
}


.magicButton{
   

    margin-bottom: var(--size-3);
  
}


.emailLink{
    margin-top: var(--size-3);
}