

.mainDiv{
    
    max-width: var(--size-17);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interfaceDiv{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-3);
    margin-bottom: var(--size-7);
}


.marginBottomClass{
    margin-bottom: var(--size-5);
}