


.mainWrapper{
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;

    background-color: var(--dim-bg);

    display: flex;
    justify-content: center;
    align-items: center;


    
    z-index: 200;
}


.mainDiv{
    position: relative;
   
    height: 100%;
    width: 100%;
    max-height: var(--size-16);
    width: min-content;

    display: flex;
    
    border-radius: 12px;
    transform: scale(0);
    transition: transform 0.5s 0.2s ease;
   overflow: hidden;
    border-radius: 12px;
    background-color: var(--customer-review-bg);
    /* animation: spawnFullScreenReview 0.3s ease forwards; */
    
    
   
}

.spawnFullScreenReview{
    transform: scale(1);
    /* animation: spawnFullScreenReview 0.5s ease-out 0.2s 1 normal forwards; */
    /* transform: scale(1); */
}

.closeFullScreen{
    position: absolute;
    top: 24px;
    left: 24px;
    height: 20px;
    width: 20px;
  
    padding: 8px;
 
    background-color: var(--fullscreen-customer-cancel-bg);
    
    transition: background-color 0.15s ease;
    border-radius: 4px;
    cursor: pointer;
    z-index: 200;
}

.closeFullScreen:hover{
    opacity: 1;
    background-color: var(--fullscreen-customer-cancel-hover);
}

.closeFullScreenNoImg{
    left:auto;
    right: var(--size-6);
}


.reviewImageDiv{
    height: auto;
    width: var(--size-15);
     background-color: var(--customer-review-bg);
     overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fullscreen-customer-image-bg);
}

.reviewImage{
    height: 100%;
    width: 100%;
   
    object-fit: contain;
    display: block;
  
}

.reviewDiv{
    background-color: var(--customer-review-bg);
    height: 100%;
    width: var(--size-14);
    
    box-sizing: border-box;
    padding: var(--size-7) var(--size-6);
    overflow-y: auto;
}

.reviewDivNoImg{
    padding-top: var(--size-9-5);
}

.authorDiv{

    display:flex;
    justify-content: space-between;

 
    margin-bottom: var(--size-2);
    
  
}

.verifiedPurchaseDiv{
    opacity: 0.9;
    font-weight: 300;
    font-size: var(--font-size-1);
    display: flex;
    align-items: center;
}

.verifiedImage{
        height: var(--size-5);
        width: var(--size-5);
        margin-right: var(--size-2);
}

.reviewText{
    margin-top: var(--size-6);
    font-size: var(--font-size-4);
    line-height: 26px;
    font-weight: 400;
}



@media(max-width: 600px){

    .mainWrapper{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow-y: auto;
    }

    .mainDiv{

        width: 100%;
        flex-direction: column;

        min-height: 100%;
        max-height: none;
        height: auto;
       
        transform: scale(1) translatey(100%);

        border-radius: 0;
     
    }

    .spawnFullScreenReview{
        transition: transform 0.5s ease;
        transform: translatey(0);
        /* animation: spawnFullScreenReviewMob 0.5s ease forwards; */
        /* transform: translatey(0); */
    }

    .reviewImageDiv{
      
        height: min-content;
        width: 100%;
    }

    .reviewDiv{
        width: 100%;
        
    }

}

@keyframes spawnFullScreenReview {
    0%{
        transform: scale(0.2);
       
    }

    100%{
        transform: scale(1);
        
    }
}

@keyframes spawnFullScreenReviewMob{
    0% {
     
      transform: translatey(100%);
    }
  
    100% {
     
      transform: translatey(0);
    }
  }