
.emailContentDiv{
    width: 100%;
}

.backToEditorButton{
    align-self: flex-start;
}


.emailHelperWrapper{

    width: 100%;

    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--size-3);
}


.instructionsWrapper{
    display: flex;
    flex-direction: column;

    padding: var(--size-5) 0;
}

.instructionsWrapper > span{
    
    align-self: flex-start;
    margin-bottom: var(--size-5);
   
    font-size: var(--font-size-3);
}













.titleInput{
   
    
   
    
    align-self: flex-start;
   
    
   margin-bottom: var(--size-6);

   
}






.textArea{
    color: var(--admin-txt-color);
    background-color: var(--admin-textArea-bg);
    min-height: var(--size-16);
    max-height: var(--size-17);
    width: 100%;
    box-sizing: border-box;
    padding: var(--size-6);
    font-size: var(--font-size-5);
    line-height: var(--size-6);

   
    padding-bottom: 128px;
    border-radius: 8px;
    border: none;

    font-size: var(--font-size-2);
    outline: none;
    resize: none;
}

.textAreaCss{
    margin-top: var(--size-7);
}

/* .textArea:focus{
    border: 1px solid #4fabe0;
    box-shadow: 0 0 8px #4fabe0;
} */

.newEmailButtons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.previewButton{
    margin: var(--size-4) var(--size-2);
    margin-top: var(--size-7);
   
    
}

.saveButton{
    align-self: flex-end;
}


.previewContent{
    position: relative;
    
    width:100%;
    max-width: var(--size-18);
    min-height: var(--size-13);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--admin-card-border-color);
    border-radius: 8px;
    margin-top: var(--size-9);
    box-sizing: border-box;
    padding: var(--size-7);
}

.previewContent h1{
    margin: unset;
    padding: unset;

    font-size: unset;
}

.previewContent p{
    margin: unset;
    padding: unset;
    font-size: unset;
}