.descriptionDiv{
    display: flex;
    flex-direction: column;
    margin-top: var(--size-5);
    margin-bottom: var(--size-7);
     max-width: var(--size-15);
    /* align-self: center; */
}


.mainSpan{
    color: var(--main-color-4);
    font-size: var(--font-size-7);
    font-weight: 600;
    margin-bottom: var(--size-7);

    text-align: center;
}

.descriptionTitle{
    align-self: center;
}

@media (max-width: 1080px){
    .descriptionDiv{
       
        margin: var(--size-7) 0;
        margin-top: 0;
    }
}

