

.bundleOption{


    
    background-color: var(--bundle-option-bg);

    height: var(--size-8);


    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-3);


    box-sizing: border-box;
    padding: 0 var(--size-3);
    border-radius: 8px;



    cursor: pointer;
    
  
}




.bundleRadioButton{

}


.bundleInfo{

    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.bundleOffer{
    display: flex;
    justify-content: space-between;
    align-items: center;

 
}



.quantityDiv{

    color: var(--bundle-main-color);
    font-size: var(--font-size-2);

    

}

.offerPrice{
    font-size: var(--font-size-2);
}




.bundleSave{

    display: flex;
    justify-content: space-between;
    align-items: center;


}

.saveDiv{

    color: var(--bundle-save-txt-color);

    font-size: 10px;
  

}






.origPrice{

    color: var(--bundle-original-price);

    width: min-content;

    text-decoration:line-through;

    font-size: 10px;
    

}