



.bundleOptionWrapper{
    
    background-color: var(--bundle-option-bg);


    display: flex;
    flex-direction: column;
    gap: var(--size-3);

    box-sizing: border-box;
    padding: 0 var(--size-3);
    border-radius: 4px;
}



.bundleOption{



    height: var(--size-8);


    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-4);


    box-sizing: border-box;
   
    border-radius: 8px;



    cursor: pointer;
    
  
}




.radioExtRing{

    height: var(--size-5);
    width: var(--size-5);

    background-color: transparent;
    border: 1px solid var(--bundle-ring-neutral-color);

    border-radius: 50%;
    box-sizing: border-box;
    padding: 3px;

}


.extRingSelected{
    border: 1px solid var(--bundle-ring-selected-color);
}


.radioIntRing{
    height: 100%;
    width: 100%;
    background-color: transparent;

    border-radius: 50%;
}

.intRingSelected{
    background-color: var(--bundle-ring-selected-color);

}







.bundleInfo{

    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.bundleOffer{
    display: flex;
    justify-content: space-between;
    align-items: center;

 
}



.bundleQuantityDiv{

    color: var(--bundle-main-color);
    font-size: var(--font-size-2);

    

}

.offerPrice{

    color:var(--bundle-price);
    font-size: var(--font-size-2);
   
}




.bundleSave{

    display: flex;
    justify-content: space-between;
    align-items: center;


}

.saveDiv{

    color: var(--bundle-save-txt-color);

    font-size: 10px;
  

}






.origPrice{

    color: var(--bundle-original-price);

    width: min-content;

    text-decoration:line-through;

    font-size: 10px;
    

}


.variantsDiv{


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    row-gap: var(--size-3);

    column-gap: var(--size-4);
    
    margin-bottom: var(--size-3);

    box-sizing: border-box;

    padding: 0 var(--size-1);
    
}


.variantOptionsTitle{

    margin-bottom: var(--size-2);
    font-size: var(--font-size-2);
    font-weight: 300;
}





.variantOptionWrapper{

    position: relative;

    flex:1 ;

    display: flex;
    align-items: center;

    gap: var(--size-2);

    
}


.variantLabel{

    width: var(--size-5);

    color: var(--bundle-variant-option-number-color);

    font-size: var(--font-size-1);

}



.selectWrapper{
    position: relative;
}


  .arrowDown {

    position: absolute;
    top: 50%;
    right: var(--size-3);

    height: var(--size-3);
    width: var(--size-3);
   
    
    transform:  translateY(-50%);
    transform-origin: center;

    user-select: none;
    pointer-events: none;

    
    
   
  }
  

  



.variantSelect{

    
  
    color: var(--bundle-variant-option-color);
    background-color: var(--bundle-variant-select-bg);
   

    appearance: none; /* Removes default arrow */
    -webkit-appearance: none; /* For Safari */

   

    height: var(--size-6);
  
    min-width: var(--size-9-5);



    box-sizing: border-box;
    padding-left: var(--size-3);
    padding-right: var(--size-7);
   
    border: 1px solid var(--bundle-variant-select-border);
    border-radius: 4px;
    
    outline: none;


    font-size: var(--font-size-1);

    cursor: pointer;
    user-select: none;
 
}


.variantSelect option{


    background-color: var(--bundle-variant-option-bg);
   
}

/* .targetTrafficSelect:focus > option:checked { 
    background: var(--bundle-variant-option-selected-bg) !important;
} */


