
.magicButton{
    margin-top: var(--size-5);
}



.secondStyle{

    margin-top: var(--size-9);
    left: var(--size-5);
}

.secondStyleSecButton{
   
    left: var(--size-5);
    margin-top: 112px;
}