



  

  .linkDiv {
    display: flex;
    flex-direction: row;
    gap: var(--size-6);


    margin-top: auto;
    margin-bottom: var(--size-8);

    box-sizing: border-box;
    padding-top: var(--size-7);
  
  }
  
  .linkDivPageNumber {
   
    font-size: var(--font-size-6);
    height: var(--size-7);
    width:var(--size-7);
    display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   
  }

  .arrow {
      
    height: var(--size-7);
    width:var(--size-7);
    height:var(--size-6); 
    width:8px;
    transform: rotate(90deg);
    cursor: pointer;
  }

  .rightArrow{
    transform: rotate(-90deg);
  }


  .pageLink {

    
    opacity: 0.4;
    pointer-events: none; /* Disable pointer events to prevent clicks */
    cursor: not-allowed;
  }