.arrowSpan{
   
  }
  
  /* .arrowLink{
       background-color: var(--arrow-bg);
  } */


  

  .linkDiv {
    display: flex;
    flex-direction: row;
    margin-top: var(--size-7);
    margin-bottom: var(--size-8);
    gap: var(--size-6);
  }
  
  .linkDivPageNumber {
   
    font-size: var(--font-size-6);
    height: var(--size-7);
    width:var(--size-7);
    display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   
  }

  .leftArrowImg {
    position:relative;  
    height: var(--size-7);
    width:var(--size-7);
    height:var(--size-6); 
    width:8px;
    transform: rotate(90deg);
  }

  .rightArrowImg{
    transform: rotate(-90deg);
  }


  .pageLink {

    
    opacity: 0.4;
    pointer-events: none; /* Disable pointer events to prevent clicks */
    cursor: not-allowed;
  }