



.adminMainDiv{
    
    min-height: 100vh;
    min-width: 100%;
    height: auto;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--admin-txt-color);
    background-color: var(--gray-9-elegant);
}

.adminMainDiv h1{
    color: rgb(236, 236, 246);
}


