



.adminMainDiv{

    color: var(--admin-txt-color);
    background-color: var(--admin-neutral-11);
    
    min-height: 100vh;

    width: 100%;
    height: auto;
   
    display: flex;
    flex-direction: column;
    align-items: center;
 
}






@layer lowPriority{

    .adminMainDiv h1{
        color: var(--admin-title);
    }
    

.adminMainDiv button {
    color: var(--admin-txt-color);
    background-color: transparent;
    padding: var(--size-3) var(--size-6);
    border-radius: 2px;
    border: 1px solid var(--admin-button-border-color);
    cursor: pointer;
    user-select: none;
}



  
  


.adminMainDiv input, .adminMainDiv select {

    
        color: var(--admin-txt-color);
        background-color: var(--admin-input-bg);
        

        box-sizing: border-box;
        padding: var(--size-3);

        font-size: var(--font-size-5);
        line-height: var(--size-7);
       
       border: 1px solid var(--admin-border-color-strong);
       border-radius: 8px;
    
    
  
}





.adminMainDiv input::placeholder {
    color: var(--admin-txt-color-weak);
    
    font-size: var(--font-size-2);
}

.adminMainDiv input:focus {
    border: 1px solid var(--admin-input-focus-border-color);
    box-shadow: 0 0 2px var(--admin-input-focus-border-color);
}


.adminMainDiv textarea {
    
    color: var(--admin-txt-color);
    background-color: var(--admin-textArea-bg);
    max-height: var(--size-14);
    min-height: var(--size-12);
    width: 100%;
    box-sizing: border-box;
    padding: var(--size-6);
    padding-bottom: var(--size-8);
    font-size: var(--font-size-5);
    line-height: var(--size-7);
  
    border-radius: 8px;
    border: none;
    outline: none;
    resize: none;

}


}


.loadingDiv{

  margin: auto;

 
}