

.mainButton{
    position: absolute;
    top: 0;
    right: 0;
    

    display: flex;
    justify-content: center;
    align-items: center;
  


    z-index: 10;
    user-select: none;
 
}




.sortingImg{
    height: 40px;
    width: 40px;
    padding: var(--size-3);

    box-sizing: border-box;
    border: 1px solid var(--border-color-strong);
    border-radius: 4px;

    cursor: pointer;
}

.dropMenu{
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
}


.sortingDiv{
    position: absolute;
    top: calc(100% + var(--size-3));
    right: 0;
    background-color: var(--navbar-bg);
    border: 1px solid var(--border-color-weak);

    height: max-content;
    width: var(--size-12);

    display: flex;
    flex-direction: column;
    
    

    padding: var(--size-3) 0;

    transform-origin: top right;


    animation: spawnSortingOptions 0.2s ease;
  }

 

  .sortByText{
    margin: var(--size-3) var(--size-3);
    font-size: var(--font-size-5);
    font-weight: 600;
  }


  .sortingOption{

    padding: var(--size-4) var(--size-4);
    font-size: var(--font-size-3);
    cursor: pointer;
 
  }

  .sortingOption:hover{
    background-color: var(--main-color-1);
  }

  .sortingOptionSelected{
    background-color: var(--main-color-1);
  }


@media(max-width: 480px){


    .sortingImg{
        height: 40px;
        width: 40px;
        }

    .mainButton{
        transform: translateY(-4px);
    }
}


@keyframes   spawnSortingOptions {
    0%{
        opacity: 0;
         transform: translateY(-24px) scale(0.6);
    }

    100%{

        opacity: 1;

    
        transform: translateY(0) scale(1);

    }
}