

  .customSearchBar{
    
    position: relative;
   display: flex;
    align-items: center;
   
  }

  .searchBarWrapper{
    position: relative;
    
    display: flex;
    align-items: center;
  }

  


  
  .customSearchBarInput {

     width: var(--size-12);
    height: var(--size-7);
    
    background-color: var(--search-bg);
    color: var(--txt-color);

    
  
    border-radius: 2px;
    align-self: center;
   
    
    border: solid 1px var( --checkout-input-border-color);
    font-size: var(--font-size-1);
  }

  /* //autofill zadrzi boju */

  .customSearchBarInput:focus{
   
    border: solid 2px var(--checkout-input-border-color-focused);
  }


  .customSearchBarInput:-webkit-autofill{
    
    -webkit-box-shadow: 0 0 0 30px var(--search-autofill-color) inset !important;
    -webkit-text-fill-color: var(--txt-color);
    caret-color: var(--txt-color);
  }

  .customSearchBarInput:-moz-autofill {
    
    -webkit-box-shadow: 0 0 0 30px var(--search-autofill-color) inset !important;
    -webkit-text-fill-color: var(--txt-color);
    caret-color: var(--txt-color);
  }
  
 




  .searchIcon{
    margin-left: var(--size-5);
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  
  .customResults{
    display: none;
    max-height: var(--size-14);
    width: calc(var(--size-12) + var(--size-3));
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    background-color: var(--navbar-bg);
    padding-bottom: var(--size-2);
   
    user-select: none;
    z-index: 99;
    overflow-y: auto;
    
  overscroll-behavior: contain;
  }

  .itemsVisible{
    display:flex;
    flex-direction: column;
    align-items: center;
}
  
.resultItem{
  color: var(--txt-color);
  
  width: 100%;
  padding: var(--size-3);

  display: flex;
  align-items: center;
  
  font-size: var(--font-size-2);

  box-sizing: border-box;
  
}

.resultItem:hover{
    background-color: var(--nav-select-search-link-color);
}

.resultProductsLabel{
  width: calc(100% - var(--size-5));
  box-sizing: border-box;
  padding-top: var(--size-4);
  padding-bottom: var(--size-2);
  border-bottom: 1px solid rgba(100, 94, 140, 0.833);
  opacity: 0.8;
}

.searchItemImg{
  height: var(--size-8-5);
  width: var(--size-8-5);
  flex-shrink: 0;
  object-fit: cover;
  margin-right: var(--size-3);
}

.searchCancel{
 display: none;
}


@media(max-width: 1280px){

  
    .customSearchBarOpen{
        position:absolute;
         top:50%;
         right: 0;
         background-color: var(--navbar-bg);
        height:var(--size-9);
        width: 100%;
        padding-right: var(--size-8-5);
        justify-content: flex-end;
        transform: translateY(-50%);
        z-index: 9;

    }

    .searchCancel{
      display: block;
      position: absolute;
     
      right: var(--size-6);

      height: 20px;
      width: 20px;
     
      /* font-size: var(--font-size-5);
      font-weight: 400; */

      user-select: none;
      cursor: pointer;
    }

    .customResults{
        margin-right: var(--size-7);
       
   
    }

  

    .customSearchBarInput{
      
        display: none;
    }


    .customSearchBarOpen .customSearchBarInput{
        
        display: block;
    }
}


@media(max-width: 480px){
  .customSearchBarInput {

    width: calc(var(--size-12) + var(--size-2));
  }
}


@media(max-width: 380px){

  .customSearchBarInput {

        width: var(--size-12-5);
    }

    .customResults{
        width: calc(var(--size-12-5) + var(--size-2));
    }

   
}



@media(max-width: 330px){

  .customSearchBarInput {

      width: var(--size-12);
  }

  .customResults{
      width: var(--size-12);
  }

 
}

@media(max-width: 300px){

  .customSearchBarInput {

        width: var(--size-11);
    }

    .customResults{
        width: var(--size-12);
    }

   
}