.quantityMainDiv{
  
 
  width: 100%;
  max-width: var(--size-15);
  
  display: flex;
  flex-direction: column;
 
  margin-top: var(--size-5);
  
}

.quantityTitle{
 
  margin-bottom: var(--size-3);
  
  font-size: var(--font-size-3);

}


.quantityInfo {
 
 
   
    display: flex;
    align-items: center;
   
   
  }

  
.quantityButton{

  flex-shrink: 0;
 
  
    width: var(--size-8);
    background-color: transparent;
    color: var(--checkout-input-placeholder);
    border: 1px solid var(--quantity-button-border);
   
    
    background-color: transparent;
    
    font-size: var(--font-size-4);
    padding:0 var(--size-3);
    
    transition: background-color 0.2s ease;
   
    
  


}  

.quantityButton:active{
  background-color:var(--quantity-button-hover);
}



.quantityButton:hover{
  background-color:var(--quantity-button-hover);

}


.decrementButton{
  
  margin-left: var(--size-5);
  margin-right: var(--size-4);
}


 


  
  .quantityInput {
    min-width: 0;
    height: var(--size-8);
    flex-grow: 1;
    color: var(--quantity-input-color);
    
    background-color: var(--quantity-input-bg);
    
   
    box-sizing: border-box;
    border: 1px solid var(--quantity-input-border-color);
    border-radius: 4px;
    padding: 0 var(--size-3);

   
    text-align: left;
   
    font-size: var(--font-size-5);
    font-weight: 600;

    
  }

