



.timeGapDiv{
  
  
  min-width: var(--size-14);
  width: 100%;
  align-self: flex-start;





  margin-top: var(--size-3);
  margin-bottom: calc(-1 * var(--size-7));
  
  box-sizing: border-box;
  padding: 0 var(--size-3);


  

  

  font-size: var(--font-size-3);
  line-height: var(--size-7);
 

  
}


