



.popupBackDiv{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999;
    background-color: rgba(0, 0, 0, 0.300);
    animation: darkenScreen 0.5s ease;
    
}



.popupWrapper{

    position: relative;
    max-width: var(--size-14);
    width: calc(100% - var(--size-7));
    aspect-ratio: 1;
   
    background-size: contain;
    /* background-image: url('/images/emailPopupBg3.jpeg'); */
   

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;




    box-sizing: border-box;
    padding: 0 var(--size-7);



    border-radius: 16px;
    overflow: clip;
  
   
    text-align: center;
    animation: spawnPopup 0.5s ease;
}






.emailPopupCover{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-color: var(--email-popup-bg);
    z-index: -1;

    filter: blur(1px) brightness(70%); 
}



.cancelIcon{

    position: absolute;
    top: var(--size-2);
    right: var(--size-2);
    height: 20px;
    width: 20px;

    /* background-color: var(--email-popup-cancel-button-bg); */

    padding: var(--size-3);
    /* border: 1px solid var(--email-cancel-icon-color); */
  
    border-radius: 50%;

    cursor: pointer;
  

   
}


.neutralText{

    font-size: var(--font-size-4);
    font-weight: 500;

}

.calloutText{
  
    margin-top: var(--size-2);
    margin-bottom: var(--size-2);
    font-size: var(--font-size-9);
    font-weight: 700;

}




.provideEmailDiv{
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    margin-top: var(--size-6);
    margin-bottom: var(--size-2);
   
}


.emailField{
    width: 100%;
    
    color: var(--email-popup-input-color);
    background-color: var(--email-popup-input-bg);
    height: 40px;

    /* margin-right: var(--size-3); */
   
    
    
    text-indent: var(--size-2);
    border: 1px solid var(--email-popup-input-border);
    border-radius: 8px;
}

.emailField::placeholder{
    
}

.emailError{
    background-color: var(--email-popup-input-bg);
    color: var(--error-color);
 
    
  
   
    
    margin-top: var(--size-2);
    margin-bottom: var(--size-2);

    border-radius: 8px;
    padding: var(--size-1) var(--size-2);
    font-size: var(--font-size-1);
    align-self: flex-start;
}




.emailField:-webkit-autofill {
    
    -webkit-box-shadow: 0 0 0 30px var(--email-popup-input-bg) inset !important;
    -webkit-text-fill-color: var(--email-popup-input-color);
    caret-color: var(--email-popup-input-color);
  }

  
.emailField:-moz-autofill{
    
    -webkit-box-shadow: 0 0 0 30px var(--email-popup-input-bg) inset !important;
    -webkit-text-fill-color: var(--email-popup-input-color);
    caret-color: var(--email-popup-input-color);
}
  




.sendEmailButton{
    height: 40px;
    width: 100%;
    min-width: var(--size-10);
    color: var(--email-popup-button-color);
    background-color: var(--email-popup-send-button-bg);
   

    margin-top: var(--size-3);
    
    box-sizing: border-box;
    border: 1px solid var(--email-popup-send-button-border);
    border-radius: 8px;
    font-size: var(--font-size-3);
    font-weight: 700;
    white-space: nowrap;
}

.sendEmailButton:hover{
    background-color: var(--email-popup-button-hover-bg);
}

.emailButtonLoading{
    
    background-color: var(--email-popup-button-loading-bg);

    cursor: auto;
}

.emailButtonLoading:hover{
    
    background-color: var(--email-popup-button-loading-bg);
}







.thankYouMessage{

    color: var(--email-popup-thank-you-msg-color-2);
    font-size: var(--font-size-5);
    font-weight: 500;
    
}





@media (max-width: 480px)  {

 


    .popupWrapper{
        padding: 0 var(--size-6);
    }
}

@media (max-width: 440px)  {

 


    .popupWrapper{
        padding: 0 var(--size-5);
    }
}

@media (max-width: 380px) {
    .thankYouMessage{
        font-size: var(--font-size-4);
    }
    
}



@keyframes darkenScreen{
    0%{
        background-color: rgba(0, 0, 0, 0);
    }
    100%{
        background-color: rgba(0, 0, 0, 0.300);
    }
}

@keyframes spawnPopup{
    0%{
        opacity: 0.7;
        transform: translateY(20%) scale(0.5);
    }
    100%{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}


