

  /* --size-6 je jer reviewDiv ima margin-top --size-3, jer box-shadow mora da bude vidljiv */

  .mainReviewDiv{
    height: max-content;
    
  

   
   
    margin-bottom: var(--size-9);
    border-radius: var(--size-2);
    overflow: hidden;
  }

  .title {
    margin-top: var(--size-7);
    margin-bottom: var(--size-8);

  }

 
  
  .reviewDiv { 

    color: var(--home-review-color);
    background-color: var(--home-review-bg);
    min-height: max-content;
    height: var(--size-13-5);
   
    max-width: var(--size-13);
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    border-radius: 4px;
    padding: var(--size-4);

    margin: 0 var(--size-6);
  

    font-size: var(--font-size-4);
    font-weight: 400;
    line-height: 24px;
    
    box-shadow: var(--home-review-box-shadow);
    
  }

  
 



  
  .mainDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: max-content;
    width: max-content;
    user-select: none;
     contain: layout;
  }



.starWrapperClassName{

  width: 100%;
  margin-top: var(--size-3);
  margin-bottom: var(--size-4);
}

  .starClassName{
    height: 24px;
    width: 24px;
  
  }
  


   

  .authorDiv{

    display: flex;
    align-items: center;

    margin-top: auto;
    margin-bottom:0;


    font-size: var(--font-size-4);
    font-weight: 500;
  }


 .authorImage{
    height: var(--size-7);
    width: var(--size-7);
    border-radius: 100%;
  }


  .authorName{
    margin-left: var(--size-4);
   
  }

  
  
  .reviewText{
    text-align: left;
    /* text-indent:var(--size-3); */
    /* font-style: italic; */
    /* font-family: var(--hand-writing-font); */
   }
 
  

 

  .slider{
    margin-bottom: var(--size-6);
width: 100vw ;

  }
 
 






@media (min-width: 1620px) {
  .reviewDiv {
    margin-left: var(--size-8);
    margin-right: var(--size-8);
  }
}



@media (min-width: 1420px) {
  .reviewDiv {
    margin-left: var(--size-7);
    margin-right: var(--size-7);
  }
}


@media (max-width: 980px)  {


  .mainReviewDiv{
    
    margin-bottom: var(--size-8);
  }

 

  .title {
    margin-top: var(--size-7);
    margin-bottom: var(--size-7);

  }


  .reviewDiv{
    max-width: var(--size-13);
    max-height: var(--size-13-5);
    width: calc(100vw - var(--size-11));
    height: calc((100vw - var(--size-11)) * 5 / 4);
  
    margin-left: var(--size-7);
    margin-right: var(--size-7);
  }

 
  
}
  
  @media(max-width: 600px) {
      
  

    .reviewDiv {
      
      width: calc(100vw - var(--size-7));
      height: calc((100vw - var(--size-7)) * 5 / 4);
      margin-left: var(--size-5);
    margin-right:  var(--size-5);
    }
    

  }


  @media(max-width: 360px) {
      
  

    .reviewDiv {
      
     
      margin-left: var(--size-4);
    margin-right:  var(--size-4);
    }

  }


 

 

  
 