

  /* --size-6 je jer reviewDiv ima margin-top --size-3, jer box-shadow mora da bude vidljiv */

  .mainReviewDiv{
    height: max-content;
    
  
    gap: var(--size-10);
    
    overflow: hidden;
  }




  
  .mainDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--size-8);
   
    user-select: none;
     contain: layout;
  }


  .slider{
    margin-bottom: var(--size-6);
width: 100vw ;

  }


  .reviewDiv { 

  
    
    background-color: var(--home-review-bg);
    min-height: max-content;
    height: var(--size-13-5);
   
    max-width: var(--size-13);
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-2);
    
    
    box-sizing: border-box;
    border-radius: 4px;
    padding: var(--size-4);
    padding-top: 20px;

  

    font-size: var(--font-size-4);
    font-weight: 400;
    line-height: var(--size-6);
    
    box-shadow: var(--home-review-box-shadow);
    
  }





.starWrapperClassName{

  width: 100%;
}

  .starClassName{
    height: 24px;
    width: 24px;
  
  }
  


   

  
  
  .reviewText{

    color: var(--home-review-txt-color);
    text-align: left;
 
    
   }



   
  .authorDiv{

    

    display: flex;
    align-items: center;

    margin-top: auto;
    gap: var(--size-4);


    font-size: var(--font-size-4);
    font-weight: 500;
  }


 .authorImage{
    height: var(--size-7);
    width: var(--size-7);
    border-radius: 100%;
  }


  .authorName{
    color: var(--home-review-author-color);
  }

 
  

 

  
 
 






  



@media (max-width: 1620px) {
  .mainDiv{
    gap: var(--size-9);
  }

}

@media (max-width: 1420px){

  .mainDiv{
    gap: var(--size-8);
  }
  
}


@media (max-width: 980px)  {

  .mainDiv{
    gap: var(--size-9);
  }
 

  


  .reviewDiv{
    max-width: var(--size-13);
    max-height: var(--size-13-5);
    width: calc(100vw - var(--size-11));
    aspect-ratio: 5/4;
  
    margin-left: var(--size-7);
    margin-right: var(--size-7);
  }

 
  
}
  
  @media(max-width: 600px) {
      
  

    .reviewDiv {
      
      width: calc(100vw - var(--size-7));
      
      margin-left: var(--size-5);
    margin-right:  var(--size-5);
    }
    

  }


  @media(max-width: 360px) {
      
  

    .reviewDiv {
      
     
      margin-left: var(--size-4);
    margin-right:  var(--size-4);
    }

  }


 

 

  
 