

.mainDiv{
    width:100%;
    flex-grow: 1;

    display: flex ;
    flex-direction: column;
    align-items: center;
    margin-top: var(--size-10);
  
   
}

.mainDiv h1{
  margin-bottom: 0;
}















@media (hover:hover) {
  .reviewImage{
    cursor: zoom-in;
  }
}



.coolDiv{
  display: flex;
  justify-content: center;
}




.masonry{


  width: calc(100% - var(--size-7));
   
  box-sizing: border-box;
  padding-bottom: var(--size-6);

 column-count: 4;
column-fill:balance;

 column-gap: var(--size-5);
 contain:layout;

 
 user-select: none;
  
}

@media(max-width: 1200px){
  .masonry{
    column-count: 3;
  }
}

@media(max-width: 700px){
  .masonry{
    column-count: 2;
  }
}

/* @media(max-width: 580px){
  .masonry{
    column-count: 1;
  }
} */


.reviewDiv{

  height: min-content;
  color: var(--customer-review-color);
  background-color: var(--customer-review-bg);

   max-height: max-content;
   box-sizing: border-box;
   padding-bottom: var(--size-3);
   border-radius: 8px;
   overflow: clip;
   position: relative; 
   margin-bottom: var(--size-5);
   break-inside: avoid;
   cursor: pointer;
   box-shadow: var(--customer-review-box-shadow);
   transform: scale(1);
   transition: transform 0.5s ease;
   transform-origin: center;
   word-wrap: break-word;
}


.reviewDivShrinked{
  transform: scale(0);
}



.reviewImage{
  position: relative;
  width: 100%;
  height:max-content;
 
   
}

  .starDiv{
    margin-bottom: 0;
  
    padding: 0 var(--size-4);
    box-sizing: border-box;
    padding-top: var(--size-5);
    margin-bottom: var(--size-2);
  }

  

  .reviewText{
    margin-top: var(--size-1);
    margin-bottom: var(--size-4);
    
    font-size: var(--font-size-3);
    line-height: 24px;
    font-weight: 400;
    padding: 0 var(--size-4);
  }
  /* padding: 0; */

  .reviewAuthor{
    margin-top: 40px;
    font-size: var(--font-size-3);
    font-weight: 500;
      padding: 0 var(--size-4);
    
  }

  .showMoreButton{
    margin-top:  var(--size-8);
    margin-bottom:  var(--size-7);
   
    padding: 0 var(--size-6);
    color: var(--light-txt-color);
    background-color: transparent;
    border: 1px solid var(--border-color-strong);
    border-radius: var(--size-2);

    font-size: 22px;
    font-weight: 500;

    
  }

  
  @media (min-width: 1320px)  {
    .mainDiv{
      width: var(--size-19);
    }
  }





  @media (max-width: 980px)  {


    .masonry{
  
      width: calc(100% - var(--size-11));
     
   
  }


    
    .mainDiv{
     margin-top: var(--size-9);
    }

    .showMoreButton{
      margin-top:  var(--size-7);
      margin-bottom:  var(--size-6);

      padding: 0 var(--size-5);
      font-size: 20px;

    }
  }
  
  @media (max-width: 600px)  {

    .masonry{
  
      width: calc(100% - var(--size-8));
     
   
  }


  
  }

  @media (max-width: 480px)  {


    /* .starDiv{
      padding: 0 var(--size-3);
      padding-top: var(--size-5);
    }

    .reviewText{
      padding: 0 var(--size-3);
    } */

    .reviewText{
      font-size: var(--font-size-2);
      line-height: 22px;
    }

    .reviewAuthor{
       font-size: var(--font-size-2);
  
    }

    .masonry{
  
      width: calc(100% - var(--size-7));
     
   
  }


  
  }




