
.mainDiv{
    max-width: var(--size-17);
    width: 100%;
    

    display:flex;
    flex-direction: column;
    align-items: center;
   
}


.campaignDiv{
    color: rgb(134, 149, 180);
    width: 100%;
    padding-top: var(--size-6);
    padding-bottom: var(--size-9);
    border-bottom: 1px solid green;
}



.idDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;

    margin-bottom: var(--size-3);
}

.currentId{
   
    font-size: var(--font-size-8);
    color: rgb(134, 149, 180);
   
}

.currentIdSpan{
    font-size: var(--font-size-4);
    opacity: 0.18;
    color: var(--admin-txt-color);
}


.deleteSequenceButton{
    color: var(--admin-txt-color-weak);

    display: flex;
    justify-content: center;
    align-items: center;

    padding:  var(--size-3) var(--size-5);
    border: 1px solid var(--border-color-mid);

    cursor: pointer;

}



.campaignType{
    width: min-content;
    margin-bottom: var(--size-3);
    padding:var(--size-3) var(--size-5);
    border: 1px solid var(--border-color-strong);

}


.campaignInput{
    
    color: rgb(225, 236, 238);
    background-color: var(--email-input-bg);
  
    width: 100%;

    box-sizing: border-box;
    padding: var(--size-3);
    font-size: var(--font-size-5);
    line-height: var(--size-7);
   margin-bottom: var(--size-6);
   /* border: 1px solid var(--border-color-strong); */
   
   border: none;
 
   border-radius: 8px;
   outline: none;
}

.campaignInput:focus{
    border: 1px solid #4fabe0;
    box-shadow: 0 0 8px #4fabe0;
}

.campaignEmailsDiv{

    background-color: var(--campaign-display-emails-bg);
    min-height: var(--size-12);
    max-width: var(--size-17);
    width: 100%;

    padding: 0 var(--size-3);

    display:flex;
    flex-direction: column;
  
   

}


.campaignEmailDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: var(--size-3);
}


.showEmailButton{
    color: var(--admin-txt-color);
    background-color: transparent;
    border: 1px solid rgb(36, 47, 58);
    cursor: pointer;
}

.showEmailButton:active{
    background-color: rgb(24, 32, 41);
}


.campaignInputEmail{
   
    resize:vertical;
}
