
.mainDiv{
    max-width: var(--size-17);
    width: 100%;
    

    display:flex;
    flex-direction: column;
    align-items: center;
   
}


.campaignDiv{
    color: var(--admin-txt-color-weak);
    width: 100%;
    
    padding-top: var(--size-6);
    padding-bottom: var(--size-9);
    border-bottom: 1px solid green;
}



.idDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;

    margin-bottom: var(--size-3);
}

.currentId{
   
    font-size: var(--font-size-8);
    
   
}

.currentIdSpan{
    font-size: var(--font-size-4);
    opacity: 0.18;
    color: var(--admin-txt-color);
}


.deleteSequenceButton{
    color: var(--admin-txt-color-weak);

    display: flex;
    justify-content: center;
    align-items: center;

    padding:  var(--size-3) var(--size-5);
    border: 1px solid var(--border-color-mid);

    cursor: pointer;

}






.campaignInput{
    
  
    
   margin-bottom: var(--size-6);

   
}




.campaignEmailsDiv{

    background-color: var(--admin-campaign-display-emails-bg);
    min-height: var(--size-12);
    max-width: var(--size-17);
    width: 100%;

    box-sizing: border-box;
    padding: var(--size-3);

    display:flex;
    flex-direction: column;
    gap: var(--size-3);
   

}


.campaignEmailDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.showEmailButton{
    
    
    background-color: var(--admin-neutral-11);
    
    
}



