







.policy_main_div{
  
 
  max-width: var(--size-17);



  display: flex;
  flex-direction: column;
  align-items: flex-start;



  
  
    box-sizing: border-box;
    padding: 0 var(--size-8);
     padding-bottom:var(--size-9);
  
     
   
}







.policy_main_div h1{
  align-self: center;
  
}
















.policy_main_div hr{
    border-color: var(--policy-card-hr-border-color)
}

@media (max-width: 720px) {
 
  .policy_main_div{

    padding: 0 var(--size-7);
    padding-bottom:var(--size-9);
  }
  
}

@media (max-width: 600px) {

  .policy_main_div{
    padding: 0 var(--size-6);
    padding-bottom:var(--size-9);
  }
  
}

@media (max-width: 380px) {
  .policy_main_div{
    padding: 0 var(--size-5);
    padding-bottom:var(--size-9);
    }
  
}