

 .hronika{
 
  position: relative;
  height: max-content;
  display: flex;
  flex-direction: column;
   align-items: center;
  
  min-height: 100svh;
  width: 100% ;
  overflow-x: clip;

  
  overflow-anchor: none;


}

.mainDiv{

  width: 100%;
 min-height: calc(100vh - var(--size-9));


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




.mainButton{
  

  height: var(--size-8);
  flex-shrink: 0;
  color: var(--main-button-color);
   background-color: var(--main-button-bg);
  

    box-sizing: border-box;
        border: 1px solid var(--main-button-border-color);

        border-radius: 4px;

        
        transition: background-color 0.2s ease;
        font-size: var(--font-size-3); 
        font-weight: 800;
}

@media (hover: hover) and (pointer: fine) {
.mainButton:hover{
  background-color: var(--main-button-hover-color);
}
}


.accentButton{
  color: var( --action-button-txt-color);
  background-color: var(--action-button-bg-color);

  box-sizing: border-box;

  border-radius: 4px;
    
  border: 1px solid var( --action-button-border-color);


  transition: background-color 0.2s ease;
  font-size: var(--font-size-3);
}

.accentButton:hover{
  
  background-color: var(--action-button-bg-color-hover);
}






body{



  color:var(--txt-color);
 background-color: var(--bg-color);

  min-height: 100%;
  width: 100%;
 

  
  margin: 0;
  padding: 0;
  font-family: var(--font-neutral);
  font-weight: 400;
  overflow-x: clip;


  overflow-anchor: none;
}


h1{
  color: var(--high-contrast-txt-color);
  text-align: center;
  
 
  margin-top: var(--size-9);
  margin-bottom: var(--size-7);


  font-size: var(--font-size-7);
  font-weight: 700;
}

@media(max-width: 980px){
  h1{
    margin-top: var(--size-8);
  }
}

h2{
  
  font-size:var(--font-size-6);

  margin-top: var(--size-8);
  margin-bottom: var(--size-6);
  font-weight: 600;
}


button{

  height: var(--size-8);

  font-family: var(--font-neutral);
  font-weight:  700;
  
  
  box-sizing: border-box;
  transition: background-color 0.3s ease;
  border-radius: 4px;
  cursor: pointer;

}

input{
  min-width: 0;

  box-sizing: border-box;
  padding: var(--size-3);

  border-radius: 2px;
  
  outline: none;
  font-family: var(--font-neutral);
 
}


input::placeholder{
  color: var(--neutral-5);
  font-size: var(--font-size-1);
}



textarea{


  
  box-sizing: border-box;
  border-radius: 4px;
  padding: var(--size-3);

  font-family: var(--font-neutral);
}





a{
  text-decoration: none;
  color: #49869e;
  /* color: #ff1e1e; */
}




p {

  margin: var(--size-3) 0;

  padding: 0;
 
  font-size:var(--font-size-3);

  font-family: var(--font-neutral);
  

}


::-webkit-scrollbar {
  max-width:10px;
  background-color: #1a1a1a;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #606060;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #808080;
}





.centered {
  flex-grow: 1;
  z-index: 2;
  display: flex ;
  flex-direction: column;
  align-items: center;
}











.hideScroll{
  overflow-y: hidden;
}



:root {

  --size-1: 2px;
  --size-2: 4px;
  --size-3: 8px;
  --size-4: 12px;
  --size-5: 16px;
  --size-6: 24px;
  --size-7: 32px;
  --size-8: 48px;
  --size-8-5: 56px;
  --size-9: 64px;
  --size-9-5: 80px;
  --size-10: 96px;
  --size-10-5: 112px;
  --size-11: 128px;
  --size-11-5: 160px;
  --size-12: 192px;
  --size-12-5: 224px; 
  --size-13: 256px;
  --size-13-5: 320px;
  --size-14: 384px;
  --size-14-5: 448px;
  --size-15: 512px;
  --size-15-5: 576px;
  --size-16: 640px;
  --size-17: 768px;
  --size-18: 1024px;
  --size-18-5: 1102px;
  --size-19: 1280px;


  --navbar-height: 104px;
  



  /* --hand-writing-font: var(--font-eb_garamond); */
  --hand-writing-font: "Times New Roman", serif;
  --font-neutral: var(--font-inter);
  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 20px;
  --font-size-6: 24px;
  --font-size-6-5: 28px;
  --font-size-7: 30px;
  --font-size-8: 36px;
  --font-size-9: 48px;
  --font-size-10: 60px;
  --font-size-11: 72px;


  
  

 
  
 
  









  
  
 /* Take your primary branding color, convert it to HSL then shift the lightness up to the 90-99% 
  range until it's bright enough. Or #f2f2f2/F4F3F2*/


  --main-color-0: #510015;
  --main-color-1: #7a011F;
  --main-color-2: #a31039;
  --main-color-3: #cb0134;
  --main-color-4: #f4013e;
  --main-color-5: #fe0b48;
  --main-color-6: #fe2057;
  --main-color-7: #fe4876;
  --main-color-8: #fe7194;
  --main-color-9: #fe9ab3;


  --accent-color-1: #11596A;
  --accent-color-2: #16778D;
  --accent-color-3: #1C95B0;
  --accent-color-4: #20AFD0;
  --accent-color-5: #3dc3e1;
  --accent-color-6: #60cee6;
  --accent-color-7: #83d9ec;











  --neutral-0: hsl(246, 46%, 7%); /*#F5F6F4;*/
  --neutral-0-5: hsl(256, 45%, 9%); /*#f2e7e5*/
  --neutral-1: hsl(249, 43%, 20%);  
  --neutral-2: hsl(261, 43%, 26%);  
  --neutral-3: hsl(262, 43%, 34%);  
  --neutral-4: hsl(256, 41%, 40%);
  --neutral-5: hsl(256, 41%, 48%);
  --neutral-6: hsl(222, 38%, 59%);
  --neutral-7: hsl(256, 36%, 66%);
  --neutral-8: hsl(256, 35%, 74%);
  --neutral-9: hsl(256, 35%, 84%);
  --neutral-10: hsl(266, 34%, 92%);

 





  --red-2: #B87F65;



  --gray-10:#030a08;
  --gray-9: #0A0A09;
  --gray-10: #030404;
  --gray-9-elegant:#02050a;
  --gray-9-elegant-op08: #02050acc;
  --gray-9-elegant-original:#010203;
  
  

  

 


  /* General */

  --loading-bar-bg: var(--neutral-6);

  --loading-peg-color-1: var(--neutral-7);
  --loading-peg-color-2: var(--neutral-7);

 

  #nprogress .bar {
    background: var(--loading-bar-bg); /* Change progress bar color to orange */
  }

  #nprogress .peg {
    box-shadow: 0 0 10px var(--loading-peg-color-1), 0 0 5px var(--loading-peg-color-2); /* Replace with your desired color */
  }

  --high-contrast-txt-color: var(--neutral-10);
  --txt-color: var(--neutral-9);
  --weak-txt-color: var(--neutral-7);
  
  --bg-color: var(--neutral-0); /*hsl(81, 7%, 92%)*/
  --dim-bg: rgba(0, 0, 0, 0.5);


  --surround-cancel-bg: var(--neutral-5);
  --surround-cancel-bg-hover: var(--neutral-4);
  /*#e5e5e6   rgba(50, 50, 50, 0.7)*/


  --border-color-weak: var(--neutral-1);
  --border-color-mid: var(--neutral-2);
  --border-color-strong: var(--neutral-3);



  --main-button-color: black;
  --main-button-bg: var(--main-color-4);
  --main-button-border-color: var(--main-color-2);
  --main-button-hover-color: var(--main-color-5);


  


 
  --action-button-txt-color: black;
  --action-button-bg-color: var(--accent-color-4);
  --action-button-bg-color-hover:var(--accent-color-3);
  --action-button-border-color: var(--neutral-1);
  --action-button-disabled-txt-color: var(--neutral-0);
  --action-button-disabled-bg: var(--neutral-3);

  
  --success-icon-color: black;

  --success-color: #43A146;
  --error-color: red;
  --error-box-shadow-color: rgb(158, 49, 6);






  /*~ Navbar ~*/

  --headTrack-color: var(--neutral-7);
  --headTrack-bg-color: var(--main-color-0);
  
  --navbar-bg: var(--neutral-0-5);
  --nav-bottom-border-color: var(--neutral-1);


  --search-icon-color: var(--neutral-7);
  --search-bg: transparent;
  --search-autofill-color: var(--navbar-bg);
  --search-cancel-icon-color: var(--neutral-5);
  --mobile-nav-cancel-icon-color: var(--search-cancel-icon-color);
  --menu-icon-color: var(--neutral-8);
  --nav-links-color: var(--main-color-4);
  --navbar-current-link-color: var(--accent-color-6);
  --navbar-arrow-color: var(--nav-links-color);
  --nav-select-search-link-color:var(--main-color-1);
  --shopping-cart-color: var(--neutral-7);
 
  
  --popcart-correct-icon-color: var(--success-color);
  --cart-button-items-number-color: black;
  --cart-button-items-number-bg: var(--main-color-5);

  --view-cart-color: var(--high-contrast-txt-color);
  --view-cart-bg: transparent;
  --view-cart-border-color: var(--main-color-4);

 


  --popcart-checkout-button-border: var(--accent-color-4);



   /*~ Footer ~*/

   --footer-bg: var(--neutral-0-5);
   --footer-title-color: var(--neutral-10);
  --footer-txt-color: var(--neutral-8);
  --footer-link-active-color: var(--neutral-9);
  --footer-email-placeholder-color: var(--neutral-5);
  --footer-subscribe-input-txt-color: var(--neutral-9);
  --subscribe-input-border: var( --checkout-input-border-color);
  --action-button-footer-txt-color: var(--action-button-txt-color);
  --action-button-hover-footer-txt-color: var(--action-button-footer-txt-color);

  --loading-email-button-bg: var(--action-button-bg-color-hover);
  
  --footer-reserved-rights-color: var(--neutral-5);
  

 /*~ Home page ~*/


 --shop-now-hero-button-color:black;
 --shop-now-hero-button-bg: var(--neutral-5);
 --shop-now-hero-button-box-shadow: 0 1px 4px var(--neutral-1);

 

  --home-review-author-color: var(--neutral-10);
 --home-review-txt-color: var(--neutral-9);
  --home-review-bg: var(--neutral-0-5);
 
  
  --home-review-box-shadow: 0px 1px 2px var(--home-review-bg);
  /*  0px 2px 6px #1b1e22;*/
  --star-home-review-color: #f7df48;




   /*Product list ~ Products ~ Collections */

   --product-list-arrow-bg: var(--neutral-1);
   --collection-description-txt-color: var(--neutral-9);
   --collection-info-bg: var(--neutral-0-5);
   --product-card-bg: var(--neutral-0-5);
   --product-on-sale-txt-color: black;
   --product-on-sale-bg: var(--main-color-2);
   --product-box-shadow: 0 1px 4px var(--neutral-0-5);





 /*~ Product page ~*/

 --product-price: var(--accent-color-5);
 --product-sale-txt-color: black;
 --product-sale-bg: var(--main-color-3);
--in-stock-color: var(--neutral-7);
 --selected-product-image-border:var(--accent-color-3);

 --swiper-zoomin-icon-color: var(--neutral-8);
 --mini-slider-arrow-bg:var(--main-color-2);
 --mini-slider-arrow-color: var(--neutral-9);


 

 --bundle-main-color: var(--high-contrast-txt-color);

 --bundle-ring-neutral-color: var(--main-color-3);
 --bundle-ring-selected-color: var(--accent-color-5);
 --bundle-variant-option-number-color: var(--accent-color-3);


 --bundle-option-bg: var(--neutral-1);
 --bundle-save-txt-color: var(--neutral-8);
 --bundle-price: var(--high-contrast-txt-color);
 --bundle-original-price: var(--neutral-7);




 --bundle-variant-select-bg: transparent;
 --bundle-variant-select-border: var(--neutral-5);
 --bundle-variant-option-color: var(--high-contrast-txt-color);
 --bundle-variant-option-bg: var(--neutral-0);
 --bundle-variant-option-selected-bg: var(--main-color-4);


 --quantity-input-color: black;
 --quantity-input-border-color: var(--neutral-3);
 --quantity-input-bg: var(--neutral-4);
 --quantity-button-border: var(--neutral-3);
 --quantity-button-hover: var(--neutral-1);

 --paypal-bg:#FFC439;
 --paypal-wrapper-border: var(--accent-color-6);

 --buy-now-color: var(--accent-color-7);
 --buy-now-bg: transparent;
 --buy-now-border: var(--neutral-5);
 --buy-now-hover-box-shadow-border: var(--neutral-5);
 --buy-now-hover-bg: var(--main-color-0);


 --fbt-border: var(--neutral-7);
 --fbt-title-color: var(--neutral-10);
 --fbt-add-to-cart-color: var(--action-button-txt-color);
 --fbt-add-to-cart-bg: var(--action-button-bg-color);
 --fbt-add-to-cart-hover-bg: var(--action-button-bg-color-hover);
 --fbt-add-to-cart-border: var(--action-button-border-color);


 --pageCards-title-color: var(--high-contrast-txt-color);
 --dropcard-selected-title-border: var(--main-color-5);
 
 --package-return-dropcard-icon-color: rgb(156, 144, 63);
 --chat-icon-color: rgb(53, 144, 248);
 --truck-icon-color: var(--neutral-4);
 --package-return-icon-color: var(--neutral-4);
 --guarantee-icon-color: var(--neutral-4);

 



 --fixed-add-to-cart-color: var(--neutral-10);
 --fixed-add-to-cart-bg: var(--neutral-0);
 --fixed-add-to-cart-border-top: var(--main-button-color);
 --fixed-add-to-cart-top-box-shadow: 0 0 0 1px var(--neutral-3);
 /* 0 0px 8px var(--main-color-1) */
          /*~ Fullscreen product~*/

  --fullscreen-bg: var(--bg-color);
  --toast-message-color: black;
 --toast-message-bg: var(--neutral-3);
 --fullscreen-nav-color: black;
 --fullscreen-nav-bg: var(--neutral-3);
 --fullscreen-zoomin-color: black;
 --fullscreen-cancel-image-color: var(--neutral-0);
 --fullscreen-arrow-color: var(--neutral-0);
 --fullscreen-arrow-bg:var(--fullscreen-nav-bg);
 --fullscreen-arrow-hover-bg:var(--neutral-4);
 --fullscreen-arrow-active-bg: var(--neutral-5);
  

            /*~ Customer reviews ~*/

 --rating-show-title-color : var(--neutral-10);
 
 --rating-info-color: var(--neutral-9);
 --rating-info-bg: var(--neutral-1);
 --rating-info-box-shadow: 0px 2px 8px 1px var(--neutral-0-5);
 
 --rating-info-percent-bar-empty: var(--star-empty-color);
 --rating-info-percent-bar-fill: var(--main-color-4);

 --sorting-svg-color: var(--neutral-5);

 --star-color:#e9b335;
--star-empty-color: var(--neutral-2);
--star-stroke-color: var(--neutral-0);
--star-hover-color: orange;

/*neutral3-#666666(102, 102, 102) n1-#292929(41,41,41)
*/
--customer-review-bg: var(--neutral-0-5);
 --customer-review-txt-color: var(--neutral-9);
 --customer-review-box-shadow: 0px 1px 4px -2px var(--neutral-0-5);

 --fullscreen-customer-image-bg: var(--neutral-1);

 --fullscreen-customer-cancel-bg: rgba(20, 20, 20, 0.7);
  --fullscreen-customer-cancel-icon-color: var(--neutral-9);
 
 --fullscreen-customer-cancel-hover: var(--neutral-0-5);

--load-more-reviews-spinner-color: var(--neutral-7);



              /*~ Writing review ~*/


  --write-review-main-bg: var(--neutral-0-5);
  
  --remind-me-later-color: var(--accent-color-4);
  --writing-button-txt-color: var(--neutral-7);
  --writing-button-hover-bg: var(--neutral-2);

  --writing-accent-color: var(--main-color-4);
  --writing-empty-progress-bar: var(--neutral-1);
  --writing-media-button:  var(--main-color-5);
 
  --writing-add-image-div-border: var(--accent-color-5);
  --writing-next-button-bg: var(--main-color-3);
  --writing-next-button-hover-bg: var(--main-color-4);
  --write-review-disabled-bg: var(--main-color-1);
 

  --writing-cancel-added-image-color: var(--neutral-7);
  
  --cancel-image-button-bg: transparent;
  --cancel-image-button-bg-hover: var(--neutral-1);
  --cancel-write-review-color: var(--neutral-5);
  
  

  


/*~ Cart ~*/
  --cart-weaker-color: var(--neutral-7);
  --cart-special-price: var(--main-color-6);
  --cart-crossed-price: var(--neutral-4);
  --bin-icon-color: var(--neutral-4);
  /* --free-shipping-txt-color: var(--neutral-7);
  --free-shipping-slider-empty-color: var(--neutral-1);
  --free-shipping-slider-fill-color: var(--accent-color-5); */
 
  
  --best-sellers-bg: var(--bg-color);
  --best-sellers-slide-bg: transparent;
  --best-sellers-variant-color: var(--neutral-8);
  --best-sellers-addtocart-color: black;
  --best-sellers-addtocart-bg: var(--action-button-bg-color);
  --best-sellers-addtocart-bg-hover: var(--action-button-bg-color-hover);
  --best-sellers-addtocart-border: var(--action-button-border-color);

  
  

 /*~ Contact us ~*/

 --contact-input-color: var(--checkout-input-color); 
 --contact-input-bg: transparent;
 --contact-input-border: var(--neutral-3);
 --contact-input-border-focused: var(--neutral-3); 
 --contact-input-autofill-bg: var(--bg-color);
 --contact-input-placeholder: var(--neutral-6);
 --contact-input-placeholder-floating: var(--neutral-7);
 /*#0c212b --checkout-input-bg*/






  /*~ Checkout ~*/


  /* --checkout-high-contrast-color: var(--high-contrast-txt-color);
  --checkout-color: var(--txt-color); */
  --checkout-bg: var(--bg-color);

  --checkout-spinner-2-color: var(--neutral-10);


  --express-checkout-bg: var(--payment-div-bg);
  --express-checkout-button-bg: var(--neutral-1);
  --google-pay-border-color: #757575;


  --checkout-title: var(--high-contrast-txt-color);
  --checkout-input-color: var(--txt-color);
  --checkout-input-bg: transparent;
  --checkout-input-border-color: var(--neutral-3);
  --checkout-input-border-color-focused: var(--main-color-4);
  --checkout-input-autofill-bg: var(--bg-color);

  
  --checkout-input-placeholder: var(--neutral-6);
  --checkout-input-placeholder-floating: var(--neutral-7);
 
  
  --country-options-bg: var(--checkout-bg);

  --checkbox-checked-bg-color: var(--main-color-4);
  --checkbox-unchecked-box-shadow: 0 0 0 0 var(--border-color-strong) inset;
  --checkbox-checked-box-shadow: 0 0 0 var(--size-3) var(--main-color-4) inset;

  --apt-adder-color: var(--accent-color-4);
  --apt-adder-color-hover: var(--accent-color-5);



 


 
  --select-payment-circle-ring-color: var(--main-color-4);
  --select-payment-circle-color: var(--checkout-input-border-color);

  --payment-option-bg: black;
  --payment-div-bg: var(--neutral-0);

  --paynow-stripe-button-color: var(--main-button-color);
  --paynow-stripe-button-bg: var(--main-button-bg);
  --paynow-stripe-button-hover-bg: var(--main-button-hover-color);
  --paynow-stripe-button-paying-bg: var(--main-color-3);
  --payment-spinner-color: var(--paynow-stripe-button-color);
 

  --more-cards-card-color: var(--neutral-0);
  --more-cards-card-bg: var(--neutral-8);  
--more-cards-card-border: rgba(0, 0, 0, 0.08);

--floating-badge-border-color: var(--neutral-6);
--lock-icon-color: var(--neutral-4);
--badge-popup-message-bg: rgba(165, 171, 155, 0.7);/*neutral neki - iz hex u rgb i dodato a*/






              /*Order summery*/
  


  --summery-title-color: var(--main-color-6);
  --summery-title-price-color: var(--high-contrast-txt-color);
 
  --checkout-order-summery-bg: var(--main-color-0);
  --checkout-order-summery-bg-mobile: var(--main-color-0);
 
  --summery-variant-color: var(--neutral-7);

  --summery-sticker-price-color: var(--neutral-6);
  

  --apply-border-color: var(--action-button-border-color);
  --apply-coupon-color: var(--accent-color-4);
  --apply-coupon-hover-color: var(--accent-color-5);
  --apply-coupon-txt-color: var(--action-button-txt-color);
 
  --coupon-code-color: black;
  --coupon-code-bg: var(--neutral-4);
  --bundle-discount-icon-color: var(--summery-variant-color);
  --discount-cancel-icon-color: var(--neutral-0);
  --discount-icon-color: black;
  --discount-order-pair-color: var(--neutral-6);
  --discount-icon-total-color: var(--neutral-10);

 


                  /*Tip*/


  --tip-selected: var(--main-color-5);
  --add-tip-border: var(--action-button-border-color);

  
  --tip-thank-you-txt-color: var(--neutral-9);




              /*Thank you page*/

  --thank-you-pharagraph-color:var(--neutral-8);
  







/* Email popup */

 

 --email-popup-bg: var(--neutral-0);




--email-popup-input-color: var(--neutral-9);
--email-popup-input-bg: black;
--email-popup-input-border: var(--neutral-2);


--email-popup-button-color: black;
--email-popup-button-hover-bg: var(--main-color-5);
--email-popup-send-button-bg:var(--main-color-3);
--email-popup-send-button-border: black;
--email-popup-button-loading-bg: var(--main-color-2);


--email-popup-thank-you-msg-color: var(--neutral-7);
--email-popup-thank-you-msg-color-2: var(--neutral-8);

--email-popup-cancel-button-bg: var(--neutral-3);
--email-cancel-icon-color: var(--neutral-6);


/* Subscription management UI */


--subscription-bg: var(--bg-color);
--subscrition-main-div-bg: var(--neutral-0-5);
--subscription-title-color: var(--neutral-9);
--subscrition-txt-color: var(--neutral-6);



--subscription-input-color:var(--txt-color);
--subscription-input-bg:transparent;
--subscrition-input-border:var(--neutral-3);
--contact-input-autofill-bg: var(--neutral-0-5);
--subscrition-input-placeholder:var(--neutral-6);
--subscription-input-placeholder-floating: var(--neutral-7);

/* Email colors */

--email-order-summery-weak: var(--neutral-6);
--email-order-summery-total: var(--neutral-9);





color-scheme: light only;


  /*~Admin sector colors*/
  --nav-site-title-color: var(--main-color-4);
  --admin-txt-color-weak: rgb(120, 120, 131);
  --admin-txt-color-mid: rgb(149, 149, 161);
  --admin-txt-color: rgb(178, 178, 194);
  --admin-txt-color-darker: rgb(160, 160, 177);
  --admin-login-btn-bg: rgb(8, 10, 12);

  --package-status-button-bg: rgb(20, 50, 48);

  --order-cover-details-color: rgb(10, 12, 19);

  --email-input-bg: rgb(15, 15, 14);
  


  --campaign-display-emails-bg:rgba(43, 35, 35, 0.145);

  --admin-campaign-type-options-bg: rgb(76, 46, 46);

}







