

 .hronika{
 
  position: relative;
  height: max-content;
  display: flex;
  flex-direction: column;
   align-items: center;
  
  min-height: 100svh;
  width: 100% ;
  overflow-x: clip;


}

html{
  /* margin: 0 auto; */
 
  overflow-x: clip;
}

body{



  color:var(--light-txt-color);
 background-color: var(--bg-color);

  min-height: 100%;
  width: 100%;
 

  
  margin: 0;
  padding: 0;
  font-family: var(--font-neutral);
  font-weight: 400;
  overflow-x: clip;
  overflow-anchor: none;
}

h1{
  text-align: center;
  font-size: var(--font-size-7);
  margin-bottom: var(--size-8);
  margin-top: var(--size-7);
  font-weight: 600;
}



h2{
  
  font-size:var(--font-size-6);
}

a{
  color: #49869e;
}

p {
  margin: var(--size-3) 0;
  padding: 0;
  font-size:var(--font-size-3);
}


::-webkit-scrollbar {
  max-width:10px;
  background-color: #1a1a1a;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #606060;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #808080;
}





.centered {
  flex-grow: 1;
  z-index: 2;
  display: flex ;
  flex-direction: column;
  align-items: center;
}







.object_fit_cover{
  object-fit: cover;
}

.text_decoration_none{
  text-decoration: none;
}

.hideScroll{
  overflow-y: hidden;
}



:root {

  --size-1: 2px;
  --size-2: 4px;
  --size-3: 8px;
  --size-4: 12px;
  --size-5: 16px;
  --size-6: 24px;
  --size-7: 32px;
  --size-8: 48px;
  --size-8-5: 56px;
  --size-9: 64px;
  --size-9-5: 80px;
  --size-10: 96px;
  --size-11: 128px;
  --size-11-5: 160px;
  --size-12: 192px;
  --size-12-5: 224px; 
  --size-13: 256px;
  --size-13-5: 320px;
  --size-14: 384px;
  --size-14-5: 448px;
  --size-15: 512px;
  --size-15-5: 576px;
  --size-16: 640px;
  --size-17: 768px;
  --size-18: 1024px;
  --size-18-5: 1102px;
  --size-19: 1280px;


 /* Didot
Baskervville
Adore+Modern+Serif
Playfair+Display
Cormorant+Garamond */

/*2b59c3
#B49A67
#CEB3AB
*/

--my-col: #829ee0;
  /* --hand-writing-font: var(--font-eb_garamond); */
  --hand-writing-font: "Times New Roman", serif;
  /* --font-neutral: 'Roboto', sans-serif; */
  --font-neutral: var(--font-inter);
  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 20px;
  --font-size-6: 24px;
  --font-size-6-5: 28px;
  --font-size-7: 30px;
  --font-size-8: 36px;
  --font-size-9: 48px;
  --font-size-10: 60px;
  --font-size-11: 72px;

  /* Main colors
  #E3DFFF #090909 #4B5043
  */

  --test: #171425;
  --blue-0: #EEF2FB;
  --blue-1: #DEE5F8;
  --blue-2: #BCCCF0;
  --blue-3: #8AA5E5;
  --blue-4: #587FDA;
  --blue-5: #2b59c3;
  --blue-6: #214497;
  --blue-7: #162E64;
  --blue-8: #0B1732;
  --blue-9: #040811;


  --lion-1: #DDD2BB;
  --lion-2: #D0C09F;
  --lion-3: #C2AE84;
  --lion-4: #B49A67;
  --lion-5: #897243;
  --lion-6: #604F2F;
  --lion-7: #372D1B;


  --neutral-0: #EBECE9; /*#F5F6F4;*/
  --neutral-1: #D7DAD3;  
  --neutral-2: #B9BEB1;
  --neutral-3: #A5AB9B;
  --neutral-4: #919985;
  --neutral-5: #7D856F;
  --neutral-6: #5E6454;
  --neutral-7: #4B5043;
  --neutral-8: #34382E;
  --neutral-9: #1F211C;
  --neutral-10: #0A0B09;




  --red-1: #daaba8;
  --red-2: #B87F65;
  --red-3: #A75631;
  --red-4: #8a4322;
  --red-5: #712f1b;
  --red-6: #5b2717;
  --gray-1: #CBC6B0;
  --gray-2: #AC9576;
  --gray-3: #9E846F;
  --gray-4: #866E57;
  --gray-5: #685947;
  --gray-6: #50443B;
  --gray-7: #372F2A;
  --gray-8: #241F1C;
  --gray-10:#030a08;
  --gray-9: #0A0A09;
  --gray-10: #030404;
  --gray-9-elegant:#02050a;
  --gray-9-elegant-op08: #02050acc;
  --gray-9-elegant-original:#010203;
  
  --yellow-8: #796632;
  --practice:#e9e2c3;


  /* Take your primary branding color, convert it to HSL then shift the lightness up to the 90-99% range until it's bright enough. Or #f2f2f2/F4F3F2*/


  /* General */

  --high-contrast-light-txt-color: var(--neutral-10);
  --light-txt-color: var(--neutral-9);
  --weak-txt-color: var(--neutral-8);
  --bg-color: 	var(--neutral-0); /*hsl(81, 7%, 92%)*/
  --dim-bg: rgba(0, 0, 0, 0.5);
  --surround-cancel-bg: var(--lion-4);
  --surround-cancel-bg-hover: var(--lion-3);
  /*#e5e5e6   rgba(50, 50, 50, 0.7)*/

  --main-button-color: var(--blue-4);
  --main-button-hover-color: var(--blue-5);
  --main-light-color: #989898;
  --main-dark-color: #323232;


 
  --action-button-txt-color: var(--neutral-10);
  --action-button-bg-color: var(--lion-4);
  --action-button-bg-color-hover:var(--lion-5);
  /* txt-Alt:white; bg-Alt #202020 */

 
  /* //#43A146 //#42A147 */

  --success-color: #43A146;
  --error-color: red;
  --error-box-shadow-color: rgb(158, 49, 6);

  --border-color-weak: var(--neutral-2);
  --border-color-mid: var(--neutral-4);
  --border-color-strong: var(--neutral-5);




  /*~ Navbar ~*/

  --nav-site-title-color: var(--blue-4);
  --nav-txt-color: var(--light-txt-color);
  --navbar-bg: var(--lion-1);
  --nav-bottom-border-color: var(--blue-2);


  --search-bg: var(--blue-1);
  --nav-links-color: var(--lion-7);
  --navbar-current-link-color: var(--blue-5);
  --nav-select-search-link-color:var(--blue-0);

  --popcart-bg: var(--navbar-bg);
  --cart-button-items-number-bg: var(--lion-5);
  --checkout-button-border: rgb(159, 160, 92);



   /*~ Footer ~*/

   --footer-bg: var(--blue-9);
   --footer-title-color: var(--neutral-0);
  --footer-txt-color: var(--neutral-2);
  --footer-link-active-color: var(--neutral-2);
  --footer-email-placeholder-color: var(--neutral-5);
  --subscribe-input-border: var(--lion-5);
  --action-button-footer-txt-color: var(--blue-9);
  --action-button-hover-footer-txt-color: var(--high-contrast-light-txt-color);

 /*~ Home page ~*/



 --shop-now-hero-button-bg: var(--blue-9);
 --hero-image-border-bottom-color: var(--blue-2);

  --home-review-color: var(--neutral-3);
   /*#081522*/
  --home-review-box-shadow: 0px 4px 8px var(--neutral-5), 0px 2px 4px var(--neutral-5);
  /*  0px 2px 6px #1b1e22;*/
  --star-home-review-color: #f7df48;




   /*Product list ~ Products ~ Collections */

   --arrow-bg: rgb(44, 95, 93);
   --collection-info-bg: var(--lion-2);
   --product-on-sale-bg: rgb(18, 14, 56);





 /*~ Product page ~*/



 --selected-product-image-border:var(--blue-8);
 --mini-slider-arrow-bg:rgb(19, 23, 57);
 --quantity-input-bg: var(--blue-3);
 --quantity-button-border: var(--neutral-6);
 --quantity-button-hover: var(--lion-2);

 --paypal-bg:#FFC439;

 --buy-now-border: var(--lion-6);
 --buy-now-hover-box-shadow-border: var(--lion-6);

 --dropcard-title-color: var(--high-contrast-light-txt-color);

 --faq-add-to-cart-bg: var(--blue-4);
 --faq-add-to-cart-hover-bg: var(--blue-5);

 --fixed-add-to-cart-color: var(--high-contrast-light-txt-color);
 --fixed-add-to-cart-bg: var(--neutral-4);
 --fixed-add-to-cart-border-top: var(--blue-8);
 
          /*~ Fullscreen product~*/

  --fullscreen-bg: var(--bg-color);
 --toast-message-bg: var(--neutral-4);
 --fullscreen-nav-bg: var(--blue-2);
 --fullscreen-arrow-bg:var(--blue-8);
 --fullscreen-arrow-hover-bg:var(--blue-7);
 --fullscreen-arrow-active-bg: var(--blue-7);


            /*~ Customer reviews ~*/

 --rating-info-bg: var(--neutral-2);
 --rating-info-percent-bar-empty:rgb(30, 51, 59);
 --rating-info-percent-bar-fill: rgb(116, 145, 147);

 --star-color:#e9b335;
--star-empty-color: #103939;
--star-hover-color: orange;


 --customer-review-bg: var(--neutral-2);
 --customer-review-color: var(--high-contrast-light-txt-color);
 --customer-review-box-shadow: 0px 2px 2px var(--neutral-5), 0px 2px 8px var(--neutral-4);

 --fullscreen-customer-image-bg: var(--blue-9);





              /*~ Writing review ~*/


  --write-review-main-bg: var(--bg-color);
  /* #1b191a */
  --writing-accent-color: gray;
  --writing-empty-progress-bar: rgb(55, 55, 62);
  --writing-media-button:  rgb(149, 165, 170);
 
  --writing-add-image-div-border: rgb(104, 111, 207);
  --writing-next-button-bg: rgb(112, 128, 118);
  --writing-next-button-hover-bg: #364658;
  --writing-next-button-disabled-txt-color: rgb(15, 16, 26);
 
  --cancel-image-button-bg: var(--surround-cancel-bg)

  

  


/*~ Cart ~*/
  --free-shipping-slider-empty-color: var(--neutral-9);
  --free-shipping-slider-fill-color: var(--lion-5);
  --best-sellers-addtocart-border: rgb(64, 73, 65);

  
  

 /*~ Contact us ~*/
 --contact-input-color: transparent;
 --contact-input-outline: var(--neutral-3);
 --contact-input-outline-focused: var(--neutral-8); 
 /*#0c212b --input-color*/






  /*~ Checkout ~*/


  --checkout-high-contrast-color: var(--high-contrast-light-txt-color);
  --checkout-color: var(--light-txt-color);
  --checkout-bg: var(--bg-color);

  --input-color: transparent;
     /* rgb(191, 209, 208); rgb(74, 85, 187) #202020; rgba(53, 60, 110, 0.459); rgb(134, 110, 114); var(--input-autofill-color);*/
 
  --input-outline-color: var(--neutral-3);
  --input-box-shadow-color: var(--neutral-3);
  --checkout-input-placeholder: var(--neutral-8);
  --input-autofill-color: var(--bg-color);
 
  --express-checkout-button-bg: #151921;
  --paypal-wrapper-border: #41855b;
  --google-pay-border-color: rgb(64, 73, 65);

  --select-payment-circle-ring-color: var(--blue-2);
  --select-payment-circle-color: var(--neutral-5);

  --payment-div-bg: var(--neutral-1);

  --paynow-stripe-button: var(--main-button-color);
  --paynow-stripe-button-hover: var(--main-button-hover-color);
 

  --more-cards-card-bg: var(--neutral-1);  
--more-cards-card-border: rgba(0, 0, 0, 0.08);

--floating-badge-color: gray;
--badge-popup-message-bg: rgba(127, 127, 163, 0.9);




              /*Order summery*/
  
  --summery-color: #DA0226;
  --summery-light-color: var(--high-contrast-light-txt-color);
  --checkout-order-summery-bg-mobile: var(--blue-3);
  /* #0e2438*/
  --checkout-order-summery-bg: var(--blue-2);
  --checkout-order-summery-bg-light: var(--blue-2);

 
  --apply-coupon-color: var(--lion-4);
  --apply-coupon-hover-color: var(--lion-5);
  --coupon-code-bg: rgb(36, 48, 58);

                  /*Tip*/


  --tip-selected: var(--blue-5);
  --add-tip-button-disabled-txt-color: rgb(152, 152, 152);
  --add-tip-button-disabled: rgb(24, 24, 34);
  




 color-scheme: light only;


/* Email popup */

 

 --email-popup-bg: rgb(22, 42, 60);

--email-popup-light-color: white;
--email-popup-cancel-button-bg: rgb(28, 49, 50);






  /*~Admin sector colors*/

  --package-status-button-bg: rgb(20, 50, 48);

  --order-cover-details-color: rgb(10, 12, 19);

  --email-input-bg: rgb(15, 15, 14);
  --email-popup-send-button-border: white;
  --email-popup-input-border: white;

  --campaign-display-emails-bg:rgba(43, 35, 35, 0.145);

  --admin-campaign-type-options-bg: rgb(76, 46, 46);

}

