

 .hronika{
 
  position: relative;
  height: max-content;
  display: flex;
  flex-direction: column;
   align-items: center;
  
  min-height: 100svh;
  width: 100% ;
  overflow-x: clip;


}

.mainDiv{

  width: 100%;
 min-height: calc(100vh - var(--size-9));


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}






body{



  color:var(--light-txt-color);
 background-color: var(--bg-color);

  min-height: 100%;
  width: 100%;
 

  
  margin: 0;
  padding: 0;
  font-family: var(--font-neutral), sans-serif;
  font-weight: 400;
  overflow-x: clip;

  overscroll-behavior: contain;
  overflow-anchor: none;
}


button{

  height: var(--size-8);

  font-family: var(--font-neutral);
  font-weight:  700;
  
  
  box-sizing: border-box;

  border-radius: 4px;
  cursor: pointer;
}

input{
  outline: none;
}

input::placeholder{
  color: var(--neutral-5);
  font-size: var(--font-size-1);
}

h1{
  color: var(--high-contrast-light-txt-color);
  text-align: center;
  font-size: var(--font-size-7);
 
  margin-top: var(--size-9);
  margin-bottom: var(--size-7);
  font-weight: 700;
}

@media(max-width: 980px){
  h1{
    margin-top: var(--size-8);
  }
}



h2{
  
  font-size:var(--font-size-6);
}

a{
  text-decoration: none;
  color: #49869e;
  /* color: #ff1e1e; */
}



p {
  margin: var(--size-3) 0;
  padding: 0;
  font-size:var(--font-size-3);

}


::-webkit-scrollbar {
  max-width:10px;
  background-color: #1a1a1a;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #606060;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #808080;
}





.centered {
  flex-grow: 1;
  z-index: 2;
  display: flex ;
  flex-direction: column;
  align-items: center;
}







.object_fit_cover{
  object-fit: cover;
}



.hideScroll{
  overflow-y: hidden;
}



:root {

  --size-1: 2px;
  --size-2: 4px;
  --size-3: 8px;
  --size-4: 12px;
  --size-5: 16px;
  --size-6: 24px;
  --size-7: 32px;
  --size-8: 48px;
  --size-8-5: 56px;
  --size-9: 64px;
  --size-9-5: 80px;
  --size-10: 96px;
  --size-10-5: 112px;
  --size-11: 128px;
  --size-11-5: 160px;
  --size-12: 192px;
  --size-12-5: 224px; 
  --size-13: 256px;
  --size-13-5: 320px;
  --size-14: 384px;
  --size-14-5: 448px;
  --size-15: 512px;
  --size-15-5: 576px;
  --size-16: 640px;
  --size-17: 768px;
  --size-18: 1024px;
  --size-18-5: 1102px;
  --size-19: 1280px;



  



  /* --hand-writing-font: var(--font-eb_garamond); */
  --hand-writing-font: "Times New Roman", serif;
  --font-neutral: var(--font-inter);
  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 20px;
  --font-size-6: 24px;
  --font-size-6-5: 28px;
  --font-size-7: 30px;
  --font-size-8: 36px;
  --font-size-9: 48px;
  --font-size-10: 60px;
  --font-size-11: 72px;


  

  


  --main-color-0: #1B180E;
  --main-color-1: #433C23;
  --main-color-2: #6B6038;
  --main-color-3: #93844D;
  --main-color-4: #B2A36C;
  --main-color-5: #C0B387;
  --main-color-6: #CEC3A1;
  --main-color-7: #DCD4BC;
  --main-color-8: #EAE5D7;
  --main-color-9: #F8F6F2;


  --accent-color-1: #130202;
  --accent-color-2: #5D0909;
  --accent-color-3: #A71111;
  --accent-color-4: #E92020;
  --accent-color-5: #EE5858;
  --accent-color-6: #F49090;
  --accent-color-7: #F9C7C7;


  --neutral-0: #0A0A0A; /*#F5F6F4;*/
  --neutral-0-5: #141414; /*#f2e7e5*/
  --neutral-1: #292929;  
  --neutral-2: #474747;
  --neutral-3: #666666;
  --neutral-4: #858585;
  --neutral-5: #999999;
  --neutral-6: #ADADAD;
  --neutral-7: #C2C2C2;
  --neutral-8: #D6D6D6;
  --neutral-9: #EBEBEB;
  --neutral-10: #F5F5F5;




  --red-1: #daaba8;
  --red-2: #B87F65;
  --red-3: #A75631;
  --red-4: #8a4322;
  --red-5: #712f1b;
  --red-6: #5b2717;
  --gray-1: #CBC6B0;
  --gray-2: #AC9576;
  --gray-3: #9E846F;
  --gray-4: #866E57;
  --gray-5: #685947;
  --gray-6: #50443B;
  --gray-7: #372F2A;
  --gray-8: #241F1C;
  --gray-10:#030a08;
  --gray-9: #0A0A09;
  --gray-10: #030404;
  --gray-9-elegant:#02050a;
  --gray-9-elegant-op08: #02050acc;
  --gray-9-elegant-original:#010203;
  
  --yellow-8: #796632;
  --practice:#e9e2c3;


  /* Take your primary branding color, convert it to HSL then shift the lightness up to the 90-99% range until it's bright enough. Or #f2f2f2/F4F3F2*/


  /* General */

  --high-contrast-light-txt-color: var(--neutral-10);
  --light-txt-color: var(--neutral-9);
  --weak-txt-color: var(--neutral-7);
  --bg-color: var(--neutral-0); /*hsl(81, 7%, 92%)*/
  --dim-bg: rgba(0, 0, 0, 0.5);
  --surround-cancel-bg: var(--neutral-5);
  --surround-cancel-bg-hover: var(--neutral-4);
  /*#e5e5e6   rgba(50, 50, 50, 0.7)*/

  --main-button-color: var(--neutral-0);
  --main-button-bg: var(--main-color-4);
  --main-button-border-color: var(--main-color-2);
  --main-button-hover-color: var(--main-color-5);

  /* --main-light-color: #989898;
  --main-dark-color: #323232; */


 
  --action-button-txt-color: var(--neutral-0);
  --action-button-bg-color: var(--accent-color-4);
  --action-button-bg-color-hover:var(--accent-color-3);
  --action-button-border-color: var(--neutral-1);
  /* txt-Alt:white; bg-Alt #202020 */

 
  /* //#43A146 //#42A147 */

  --success-icon-color: black;

  --success-color: #43A146;
  --error-color: red;
  --error-box-shadow-color: rgb(158, 49, 6);

  --border-color-weak: var(--neutral-1);
  --border-color-mid: var(--neutral-2);
  --border-color-strong: var(--neutral-3);




  /*~ Navbar ~*/

  --nav-site-title-color: var(--main-color-4);
  --nav-txt-color: var(--light-txt-color);
  --navbar-bg: var(--neutral-0-5);
  --nav-bottom-border-color: transparent;


  --search-icon-color: var(--neutral-7);
  --search-bg: transparent;
  --search-autofill-color: var(--navbar-bg);
  --search-cancel-icon-color: var(--neutral-5);
  --mobile-nav-cancel-icon-color: var(--search-cancel-icon-color);
  --menu-icon-color: var(--neutral-8);
  --nav-links-color: var(--accent-color-7);
  --navbar-current-link-color: var(--light-txt-color);
  --navbar-arrow-color: var(--nav-links-color);
  --nav-select-search-link-color:var(--main-color-1);

  --popcart-bg: var(--navbar-bg);
  --popcart-correct-icon-color: var(--neutral-10);
  --cart-button-items-number-color: var(--main-color-0);
  --cart-button-items-number-bg: var(--main-color-4);
  --checkout-button-border: var(--accent-color-5);



   /*~ Footer ~*/

   --footer-bg: var(--neutral-0-5);
   --footer-title-color: var(--neutral-10);
   --footer-arrow-down-color: var(--neutral-10);
  --footer-txt-color: var(--neutral-9);
  --footer-link-active-color: var(--neutral-9);
  --footer-email-placeholder-color: var(--neutral-5);
  --footer-subscribe-input-txt-color: var(--neutral-9);
  --subscribe-input-border: var( --input-outline-color);
  --action-button-footer-txt-color: var(--action-button-txt-color);
  --action-button-hover-footer-txt-color: var(--action-button-footer-txt-color);
  

 /*~ Home page ~*/


 --shop-now-hero-button-color: var(--neutral-1);
 --shop-now-hero-button-bg: var(--main-color-8);
 --shop-now-hero-button-box-shadow: 0 2px 6px var(--neutral-9);
 --hero-image-border-bottom-color: var(--main-color-2);


 --home-review-color: var(--neutral-10);
  --home-review-bg: var(--neutral-0-5);
   /*#081522*/
  --home-review-box-shadow: 0px 1px 2px var(--home-review-bg);
  /*  0px 2px 6px #1b1e22;*/
  --star-home-review-color: #f7df48;




   /*Product list ~ Products ~ Collections */

   --arrow-bg: var(--neutral-1);
   --collection-description-txt-color: var(--neutral-9);
   --collection-info-bg: var(--accent-color-1);
   --product-card-bg: var(--bg-color);
   --product-on-sale-bg: var(--accent-color-2);
   --product-box-shadow: 0 1px 4px var(--neutral-0);





 /*~ Product page ~*/

 --product-price: var(--accent-color-4);
 --product-percentage-disc-color: var(--neutral-0);
 --product-percentage-disc-bg: var(--main-color-3);
--in-stock-color: var(--neutral-7);
 --selected-product-image-border:var(--accent-color-4);

 --swiper-zoomin-icon-color: var(--neutral-8);
 --mini-slider-arrow-bg:var(--main-color-1);
 --mini-slider-arrow-color: var(--neutral-9);


 --quantity-input-color: var(--main-color-0);
 --quantity-input-border-color: var(--neutral-2);
 --quantity-input-bg: var(--neutral-3);
 --quantity-button-border: var(--neutral-3);
 --quantity-button-hover: var(--accent-color-2);

 --paypal-bg:#FFC439;
 --paypal-wrapper-border: var(--accent-color-4);

 --buy-now-bg: transparent;
 --buy-now-border: var(--accent-color-4);
 --buy-now-hover-box-shadow-border: var(--neutral-5);
 --buy-now-hover-bg: var(--accent-color-1);

  --fbt-title-color: var(--neutral-7);
 --fbt-add-to-cart-bg: var(--action-button-bg-color);
 --fbt-add-to-cart-hover-bg: var(--action-button-bg-color-hover);
 --fbt-add-to-cart-border: var(--action-button-border-color);

 --dropcard-title-color: var(--high-contrast-light-txt-color);
 --dropcard-selected-title-border: var(--main-color-5);
 --description-content-color: var(--neutral-6);
 
 --package-return-dropcard-icon-color: rgb(156, 144, 63);
 --chat-icon-color: rgb(53, 144, 248);
 --truck-icon-color: var(--neutral-4);
 --package-return-icon-color: var(--neutral-4);
 --guarantee-icon-color: var(--neutral-4);

 



 --fixed-add-to-cart-color: var(--neutral-10);
 --fixed-add-to-cart-bg: var(--neutral-0);
 --fixed-add-to-cart-border-top: var(--main-button-color);
 --fixed-add-to-cart-top-box-shadow:none;
 /* 0 0px 8px var(--main-color-1) */
          /*~ Fullscreen product~*/

  --fullscreen-bg: var(--bg-color);
  --toast-message-color: black;
 --toast-message-bg: var(--neutral-3);
 --fullscreen-nav-color: var(--neutral-0);
 --fullscreen-nav-bg: var(--neutral-4);
 --fullscreen-zoomin-color: var(--neutral-0);
 --fullscreen-cancel-image-color: var(--neutral-0);
 --fullscreen-arrow-color: var(--neutral-0);
 --fullscreen-arrow-bg:var(--fullscreen-nav-bg);
 --fullscreen-arrow-hover-bg:var(--main-color-4);
 --fullscreen-arrow-active-bg: var(--main-color-5);
  

            /*~ Customer reviews ~*/


 --rating-arrow-color:var(--neutral-10);
 --rating-info-color: var(--neutral-9);
 --rating-info-bg: var(--neutral-1);
 --rating-info-box-shadow: 0px 2px 8px 1px var(--neutral-0-5);
 
 --rating-info-percent-bar-empty: var(--star-empty-color);
 --rating-info-percent-bar-fill: var(--main-color-4);

 --star-color:#e9b335;
--star-empty-color: var(--neutral-2);
--star-stroke-color: var(--neutral-0);
--star-hover-color: orange;

/*neutral3-#666666(102, 102, 102) n1-#292929(41,41,41)
*/
--customer-review-bg: var(--neutral-0-5);
 --customer-review-color: var(--neutral-9);
 --customer-review-box-shadow: 0px 1px 4px -2px var(--neutral-1);

 --fullscreen-customer-image-bg: var(--neutral-1);

 --fullscreen-customer-cancel-bg: rgba(20, 20, 20, 0.7);
  --fullscreen-customer-cancel-icon-color: var(--neutral-9);
 
 --fullscreen-customer-cancel-hover: var(--neutral-0-5);





              /*~ Writing review ~*/


  --write-review-main-bg: var(--neutral-0-5);
  /* #1b191a */
  --write-review-back-button-color: var(--neutral-10);
  --writing-accent-color: var(--main-color-4);
  --writing-empty-progress-bar: var(--neutral-1);
  --writing-media-button:  var(--main-color-5);
 
  --writing-add-image-div-border: var(--accent-color-5);
  --writing-next-button-bg: var(--main-color-3);
  --writing-next-button-hover-bg: var(--main-color-4);
  --write-review-disabled-bg: var(--main-color-1);
 
  --cancel-image-button-bg: transparent;
  --cancel-image-button-bg-hover: var(--neutral-1);
  --cancel-write-review-color: var(--neutral-5);
  --cancel-image-color: var(--writing-accent-color);
  

  


/*~ Cart ~*/
  --cart-weaker-color: var(--neutral-7);
  --bin-icon-color: var(--neutral-4);
  --free-shipping-txt-color: var(--neutral-7);
  --free-shipping-slider-empty-color: var(--neutral-1);
  --free-shipping-slider-fill-color: var(--accent-color-5);
  --best-sellers-addtocart-color: var(--neutral-0);
  --best-sellers-bg: var(--accent-color-1);
  --best-sellers-addtocart-bg: var(--action-button-bg-color);
  --best-sellers-addtocart-bg-hover: var(--action-button-bg-color-hover);
  --best-sellers-addtocart-border: var(--action-button-border-color);

  
  

 /*~ Contact us ~*/
 --contact-input-color: transparent;
 --contact-input-outline: var(--neutral-3);
 --contact-input-outline-focused: var(--neutral-3); 
 --contact-send-btn-outline: var(--action-button-border-color);
 /*#0c212b --input-color*/






  /*~ Checkout ~*/


  --checkout-high-contrast-color: var(--high-contrast-light-txt-color);
  --checkout-color: var(--light-txt-color);
  --checkout-bg: var(--bg-color);

  --input-color: transparent;
     /* rgb(191, 209, 208); rgb(74, 85, 187) #202020; rgba(53, 60, 110, 0.459); rgb(134, 110, 114); var(--input-autofill-color);*/
 
  --input-outline-color: var(--neutral-3);
  --checkbox-checked-bg-color: var(--main-color-4);
  --input-outline-color-focused: var(--main-color-4);
  --checkout-input-placeholder: var(--neutral-6);
  --checkout-input-placeholder-floating: var(--neutral-7);
  --input-autofill-color: var(--bg-color);
  --country-input-arrow-color: var(--checkout-input-placeholder);
  --country-options-bg: var(--checkout-bg);

  --checkbox-unchecked-box-shadow: 0 0 0 0 var(--border-color-strong) inset;
  --checkbox-checked-box-shadow: 0 0 0 var(--size-3) var(--main-color-4) inset;

  --apt-adder-color: var(--accent-color-4);
  --apt-adder-color-hover: var(--accent-color-5);
 
  --express-checkout-bg: var(--payment-div-bg);
  --express-checkout-button-bg: var(--neutral-1);
  
  --google-pay-border-color: transparent;

 
  --select-payment-circle-ring-color: var(--main-color-4);
  --select-payment-circle-color: var(--input-outline-color);

  --payment-div-bg: var(--neutral-0-5);

  --paynow-stripe-button: var(--main-button-bg);
  --paynow-stripe-button-hover: var(--main-button-hover-color);
 

  --more-cards-card-color: var(--neutral-0);
  --more-cards-card-bg: var(--neutral-8);  
--more-cards-card-border: rgba(0, 0, 0, 0.08);

--floating-badge-border-color: var(--neutral-6);
--lock-icon-color: var(--neutral-4);
--badge-popup-message-bg: rgba(165, 171, 155, 0.7);/*neutral neki - iz hex u rgb i dodato a*/






              /*Order summery*/
  
  --summery-color: var(--high-contrast-light-txt-color);
  --summery-light-color: var(--high-contrast-light-txt-color);
  --checkout-order-summery-bg-mobile: var(--main-color-0);
  /* #0e2438*/
  --checkout-order-summery-bg: var(--main-color-0);
  --checkout-order-summery-bg-light: var(--main-color-0);

  --apply-outline-color: var(--action-button-border-color);
  --apply-coupon-color: var(--accent-color-4);
  --apply-coupon-hover-color: var(--accent-color-5);
  --apply-coupon-txt-color: var(--action-button-txt-color);
 
  --coupon-code-bg: var(--neutral-5);
  --discount-icon-color: var(--neutral-0-5);
  --discount-icon-faded-color: var(--neutral-6);
  --discount-icon-total-color: var(--neutral-10);

  --discount-cancel-icon-color: var(--neutral-0-5);


                  /*Tip*/


  --tip-selected: var(--main-color-5);
  --add-tip-outline: var(--action-button-border-color);
  --add-tip-button-disabled-txt-color: var(--neutral-0);
  --add-tip-button-disabled: var(--neutral-3);
  --tip-thank-you-txt-color: var(--neutral-9);




  --thank-you-pharagraph-color:var(--neutral-8);
  




 color-scheme: light only;


/* Email popup */

 

 --email-popup-bg: rgb(22, 42, 60);

--email-popup-button-color: black;


--email-popup-input-color: var(--neutral-9);
--email-popup-input-bg:var(--neutral-0);
--email-popup-input-border: var(--neutral-4);

--email-popup-send-button-bg:var(--main-color-2);
--email-popup-send-button-border: var(--neutral-0);

--email-popup-thank-you-msg-color: var(--neutral-7);

--email-popup-cancel-button-bg: var(--neutral-3);
--email-cancel-icon-color: var(--neutral-10);






  /*~Admin sector colors*/
  --admin-txt-color-weak: rgb(120, 120, 131);
  --admin-txt-color-mid: rgb(149, 149, 161);
  --admin-txt-color: rgb(178, 178, 194);
  --admin-txt-color-darker: rgb(160, 160, 177);
  --admin-login-btn-bg: rgb(8, 10, 12);

  --package-status-button-bg: rgb(20, 50, 48);

  --order-cover-details-color: rgb(10, 12, 19);

  --email-input-bg: rgb(15, 15, 14);
  


  --campaign-display-emails-bg:rgba(43, 35, 35, 0.145);

  --admin-campaign-type-options-bg: rgb(76, 46, 46);

}







