
.titleDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}




.reviewGetterDiv{
    display: flex;
    flex-direction: column;

}

.reviewGetterDiv input{
    margin-top: var(--size-2);
    
}

.reviewGetterDiv button{
    margin-top: var(--size-6);
}

.commonReviewsWarning{
    color:yellow;
    margin-top: var(--size-5);

}