

.imgController{
    position: relative;
    
    width: auto;


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--size-5);

    border-radius: 8px;
    background-color: var(--admin-neutral-10);

    padding: var(--size-7);
   
}

.cancelImage{
    position: absolute;
    top: 0;
    right: 0;
    height: 14px;
    width: 14px;
    padding: 2px;
    border-radius: 50%;
    border: 1px solid var(--admin-error-color);

    
    transform: translateX(50%) translateY(-50%);
    cursor: pointer;

}

/* .correctImage{
    border: 1px solid var(--admin-success-color);
} */

.reviewImage{
    height: 160px;
   width: auto;
   border: 2px solid var(--admin-review-image-border-positive);
   box-shadow: 0 0 2px var(--admin-review-image-border-positive);
  
}


.deletedImage{
    
    border: 2px solid var(--admin-review-image-border-negative);
    box-shadow: 0 0 2px var(--admin-review-image-border-negative);
    cursor: pointer;
}



.imageChanged{
    cursor: auto;
}


.copyImgName{
   
    height: auto;
    padding: var(--size-3) var(--size-3);
   
    
    font-size: 10px;
    font-weight: 400;

    
    

    

}







.validateCode{
    
    padding-left: var(--size-1);
    font-size: var(--font-size-1);
    opacity: 0.9;
    font-weight: 300;
}


