

.mainContactDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}


.mainSpan{
    color: var(--main-color-4);
    font-size: var(--font-size-7);
    font-weight: 600;
    margin-bottom: var(--size-7);

    text-align: center;
}




.getInTouch{
    padding: 0 var(--size-3);
}

