


.gpayButton{
   
    height: var(--size-8);
    width: 100% ;
    border-radius: 4px;
    background-color: black;
    
    
}

.gpayButton button{
    min-width: 0 !important;
    outline: none !important;
}




.googlePayError{

    display: flex;
    align-items: center;

    color: var(--error-color);
     margin-top: var(--size-3);
      margin-bottom: var(--size-2);
    margin-left: var(--size-1);
    font-size: var(--font-size-2);
}